header {
    display: flex;
    text-align: left;
    align-items: center;
    background-image: url(/static/imgs/bg.webp);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
}

.h2-title {
    font-weight: 800;
    text-align: left;
}


ul{
    list-style-type: none;
}

@media(max-width: 450px){
    .h2-title {
        font-weight: 800;
        text-align: center;
    }
}

p , li{
    color: gray;
    text-align: left;
    direction: ltr;

}
.right{
    margin-right: auto !important;
    margin-left: 0 !important
}
ul,li{
    text-align: left;
    direction: ltr;
}
header p {
    color: white
}

a {
    text-decoration: none;
}

.text-success {
    color: #0ed886 !important;
}

div.hvr-float.bg-light.main-card.small-shadow{
    padding: 20px;
    border-radius: 25px;
}

