header {
    display: flex;
    text-align: left;
    align-items: center;
    background-image: url(/static/imgs/bg.webp);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    min-height: 90vh;
}

.h2-title {
    font-weight: 800;
}

p {
    color: gray;
}

header p {
    color: white
}

.spacer-green {
    background-color: #0ed886 !important;
    width: 15%;
}

a {
    text-decoration: none;
}

.text-success {
    color: #0ed886 !important;
}

.card:hover {
    border: none;
    -webkit-box-shadow: 0 5px 9px 0 rgb(56 143 214 / 40%);
    -moz-box-shadow: 0 5px 9px 0 rgba(56, 143, 214, .4);
    /* box-shadow: 0 5px 9px 0 rgb(56 143 214 / 40%) !important */
}

.why-bevatel .card {
    text-align: left;
}

ul {
    list-style-image: url('https://www.bevatel.com/assets/site-imgs/check.svg');
  }

/**/


/* .flip-card-container */
.flip-card-container {
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);
  
    width: 100%;
    height: 130px;
    margin: 40px;
  
    perspective: 1000px;
  }
  
  /* .flip-card */
  .flip-card {
    width: inherit;
    height: inherit;
  
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s 0.1s;
  }
  
  /* hover and focus-within states */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }
  
  /* .card-... */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  
    backface-visibility: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .card-front */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  /* .card-back */
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  /* figure */
  figure {
    z-index: -1;
  }
  
  /* figure, .img-bg */
  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  }
  
  
  /* figcaption */
  figcaption {
    display: block;
  
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
  
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: left;
  
    position: absolute;
    top: 0;
    right: 12px;
  
    color: var(--white-1);
    background: hsla(var(--hue), 25%, 10%, 0.5);
  }
  
  /* .img-bg */
  .img-bg {
    background: hsla(var(--hue), 25%, 10%, 0.5);
  }
  
  .card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  }
  

  
  .card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  }
  
  /* hover state */
  .flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
  }
  
  .card{
      border: none;
      /* box-shadow: 0 2px 12px 0 lightgray; */
  }
  
  

/* packages */

.nav-pills .nav-link {
    background-color: transparent !important;
    color: gray !important;
    padding: 10px 60px;
    border-bottom: 1px solid gray;
    border-radius: 0 !important;
    box-shadow: 0 2px 4px 0 lightgray !important;

}

.pricing-style-two {
    position: relative;
}

.pricing-block {
    visibility: inherit;
    animation-duration: 1500ms;
    animation-delay: 0ms;
    animation-name: fadeInUp;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.pricing-block-two .pricing-table {
    position: relative;
    display: block;
    overflow: hidden;
    background: white;
    padding: 41px 15px 15px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all 500ms ease;
    box-shadow: 0 2px 26px 0 lightgrey;
}

.table-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-img {
    width: 60%;
    padding: 0 10%;
    margin: 0 10%;
}

.pricing-block-two .pricing-table .table-header .package-title {
    position: absolute;
    top: 5%;
    left: 0;
    font-size: 18px;
    padding: 2px 20px;
    background: #364a9f;
    line-height: 32px;
    color: white;
    font-weight: 500;
    border-radius: 0 25px 25px 0;
    margin-bottom: 3px;
    transition: all 500ms ease;
    box-shadow: -2px 4px 22px -9px rgb(126 118 232);
}

.pricing-block-two .pricing-table .table-content {
    position: relative;
    display: block;
}

.pricing-block-two .pricing-table .table-content li {
    position: relative;
    display: block;
    font-size: 16px;
    color: #323765;
    margin-bottom: 8px;
    transition: all 500ms ease;
}

.pricing-block-two .pricing-table .table-footer a {
    width: 100%;
    position: relative;
    display: inline-block;
    background: #21409a;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    box-shadow: -2px 4px 22px -9px rgb(126 118 232);
}

.fixed-feature {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e7f1ff;
    width: 90%;
    margin: 5px auto;
    color: #21409a !important
}

.fa-check {
    color: #0ed886;
    margin-right: 17px !important;
}


button.nav-link.active {
    background-color: rgb(33, 64, 154) !important;
    color: white !important;
}

.pricing-block-two .pricing-table:hover {
    background-color: #21409a;
}

.pricing-block-two .pricing-table:hover li {
    color: white;
}

.pricing-block-two .pricing-table:hover a {
    background: #0ed886;
}

.pricing-block-two .pricing-table:hover .table-header .package-title {
    background: whitesmoke;
    color: #21409a;
}


@media(max-width: 450px){
    .flip-card-container{
        height: 80px;
        margin: 10px
    }
}

.comparison{
    background-color: aliceblue;
}