@font-face {
    font-family: Tajawal;
    src: url(/static/fonts/Tajawal-Regular.ttf);
}
*,
body,
html {
    font-family: Tajawal, sans-serif !important;
    scroll-behavior: smooth !important;
}

.accordion-button::after{
    margin-right: auto !important;
    margin-left: unset !important;
}

#accordionFlushExample{
    max-height: 300px;
    overflow-y: scroll;
}

.modal-backdrop{
    z-index: 1;
}
.spacer {
    width: 30%;
    height: 2px;
    margin: auto;
    border-top: 1px solid #0ed886
}
.right {
    margin-right: 0 !important;
}
header.custom-for-mobile {
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/static/imgs/bg.webp);
    background-size: cover;
    background-position: center !important;
}
header.custom-for-mobile .showw {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important
}
.left {
    margin-left: 0 !important;
}
.text-beva {
    color: #296fb7 !important
}
.bg-beva-dark {
    background-color: #05445E;
    color: white;
}
.bg-beva-dark:hover {
    background-color: #05445E;
    color: white;
}
.text-beva-dark {
    color: #05445E
}
.bg-beva {
    background-color: #296fb7 !important
}
footer {
    background-image: url(https://www.bevatel.com/assets/site-imgs/bevatel-footer.webp) !important;
    position: relative;
    width: 100vw;
    max-width: 100%;
    background-size: cover !important;
    background-position: top right;
}
.copyrights {
    color: white;
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyrights a {
    color: white;
    font-size: 14px;
    margin: 0 5px;
    font-weight: 500;
}
.footer-menus {
    margin-top: 10%;
    padding-right: 10%
}
.footer-form-header {
    font-size: 1.3rem;
    color: #153396;
    font-weight: 700
}
.footer-main-container {
    padding-top: 13%;
}
.footer-form-subheader {
    font-size: 1.5rem;
    color: #0074bb;
    margin-top: 10px;
    text-shadow: 2px 1px #d8d8d8;
}
#sublead_email:focus-visible {
    border: none !important
}
.subscribe-imputs-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.footer-form {
    margin: 0 auto;
    padding: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 40%)
}
.menu-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.menu-item:hover a,
.copyrights a:hover {
    color: #0ed886
}
footer hr {
    height: 2px;
    background: white;
    opacity: 0.8;
    width: 50%;
}
.footer-menus-container {
    list-style-type: none;
    padding: 0
}
.bg-custom {
    background-color: transparent
}
.bevahidden {
    display: none;
}
.bevaspinner {
    z-index: 99999;
    background: #ffffff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden !important;
    opacity: 1;
}
.bevaspinner img {
    width: 300px;
}
/* Mailchamp form */
.customchimp input {
    border: 1px solid #cececea8 !important;
}
input#sublead_email::placeholder {
    font-weight: 500;
}
.sub-form button {
    border-radius: 10px;
    padding: 12px 20px 9px;
    width: 50%;
}
.customchimp input {
    width: 100%;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: 0 1px 20px rgb(64 124 191 / 8%);
    box-shadow: 0 1px 20px rgb(64 124 191 / 8%);
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 300;
    padding: 12px 26px 9px;
    line-height: 0px !important;
    margin-top: 0px !important;
}
.fa-check:lang(ar) {
    color: #0ed886;
    margin-right: -8px;
    border-radius: 2px;
    padding: 3px;
    font-size: 1.1rem;
}

.fa-check:lang(en) {
    color: #0ed886;
    margin-right: initial;
    border-radius: 2px;
    padding: 3px;
    font-size: 1.1rem;
}
.small-shadow {
    -webkit-box-shadow: 0 5px 9px 0 rgb(56 143 214 / 40%);
    -moz-box-shadow: 0 5px 9px 0 rgba(56, 143, 214, .4);
    box-shadow: 0 5px 9px 0 rgb(56 143 214 / 40%) !important
}

.abs-img2{
    width: 95%;
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    bottom: 0;
    z-index: 2;
    --animate-duration: 10s;
}
.green-btn {
    color: #fff;
    background-color: #0ed886;
    padding: 7px 48px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none
}
.h2-title {
    font-weight: 600;
}
a{
    text-decoration: none !important;
    color: black;
    transition: 1s all ease-in-out;
}
a:hover{
    color: #153396;
}
.align-center {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.card-title,
.text-icon__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}
/* service form styles */
#__vtigerWebForm,
.requestleadform {
    background: #e7f1ff !important;
    padding: 50px !important;
    margin: 20px 15%;
    box-shadow: 0 5px 9px 0 rgb(56 143 214 / 40%) !important;
    border-radius: 50px 0;
}
.bg-light {
    background-color: white !important;
}
#__vtigerWebForm input[type="text"],
#__vtigerWebForm input[type="email"],
#__vtigerWebForm input[type="tel"],
#__vtigerWebForm input[type="url"],
#__vtigerWebForm textarea,
.requestleadform input[type="text"],
.requestleadform input[type="email"],
.requestleadform input[type="tel"],
.requestleadform input[type="url"],
.requestleadform textarea {
    width: 100% !important;
    border: 1px solid #CCC !important;
    background: #FFF !important;
    margin: 0 0 5px !important;
    padding: 10px !important;
}
#__vtigerWebForm>input[type=submit],
.requestleadform>input[type=submit] {
    background-color: #21409a !important;
    border-radius: 0;
    padding: 5px 26px 5px;
    font-size: unset;
    color: white;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
}
label {
    display: inline-block;
    color: gray;
}
.copyrights p {
    color: white;
}
.language-switcher {
    background-color: #0ed886;
    color: white !important;
    position: fixed;
    left: 0;
    top: 30%;
    padding: 5px 10px;
    z-index: 20;
    border-radius: 0 5px 5px 0;
    transition: 1s ease;
}
.language-switcher:hover {
    background-color: rgb(33, 64, 154);
}
.language-switcher a {
    color: white !important
}
.fa-globe-africa {
    margin: auto 5px auto auto;
}
.lang {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whatsapp_btn {
    border-radius: 34px 34px 34px 34px;
    bottom: 25px;
    display: block;
    box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
    color: white !important;
    cursor: pointer;
    position: fixed;
    background-color: #0ed886 !important;
    left: 20px;
    z-index: 9995;
    height: 60px;
    width: 60px;
}
.call {
    display: none;
}
.disable-desktop {
    display: none !important;
    background-attachment: scroll !important;
    position: relative;
}
.text-green{
    color: #0ed886;
}
video{
    border-radius: 10px;
}
@media(max-width: 450px) {



    .contact{
        background-image: none !important;
    }
    .text-center-sm{
        text-align: center;
    }
    #_68625>div>iframe {
        display: none !important;
    }
    .video{
        background-attachment: scroll !important;
        height: 50vh !important
    }
    video{
        width: 100% !important;
        border-radius: 10px;
    }
    .btn-ar {
        direction: rtl;
    }
    header.custom-for-mobile {
        display: flex !important;
    }
    .slider-container {
        display: none !important;
    }
    .nav-ar {
        direction: ltr;
    }
    .call {
        border-radius: 50%;
        bottom: 20px;
        background: #2c2f9b !important;
        box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
        color: white !important;
        cursor: pointer;
        display: block;
        position: fixed;
        left: 20px;
        z-index: 200 !important;
        height: 60px;
        width: 60px;
    }
    .whatsapp_btn {
        border-radius: 34px 34px 34px 34px;
        bottom: 20px;
        display: block;
        box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
        color: white !important;
        cursor: pointer;
        position: fixed;
        background-color: #0ed886 !important;
        right: 20px;
        z-index: 9995;
        height: 60px;
        width: 60px;
    }
    .language-switcher span {
        display: none;
    }
    .language-switcher{
        width: 32px !important;
    }
    .language-switcher:hover {
        width: 32px !important;
        overflow: hidden !important;
    }
    .language-switcher:hover span{
        display: none !important;
    }
    .nav-pills .nav-link {
        padding: 9px 15px !important;
        margin-bottom: 5px !important;
    }
    .footer-menus {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .language-switcher {
        top: 30%;
        padding: 21px 4px;
    }
    .social li a,
    .fa-phone-volume,
    .social .fa-whatsapp,
    .social .fa-phone-volume,
    .social .fa-map-marker-alt {
        color: gray !important;
        text-decoration: none;
    }
    .w3-button {
        border-radius: 10% !important;
        font-size: 13px !important;
        background-color: #00000047 !important;
        width: 30px !important;
        height: 60px !important;
        top: 50% !important;
    }
    .fixed-top {
        background: #2f3aa3 !important;
    }
    header p:first-of-type {
        display: none !important
    }
    header h2,
    header h1,
    header p {
        text-align: center
    }
    .footer-menus {
        text-align: center !important;
    }
    .footer-menus hr {
        margin: 15px auto !important;
    }
    .social-icon-contact:hover{
        color: #0ed886;
    }
    .navbar-collapse {
        background-color: white;
        padding: 20px;
        width: 100%;
    }
    #__vtigerWebForm,
    .requestleadform {
        margin: 0 !important;
    }
    .subscribe-imputs-container {
        padding: 10%;
    }
    .dropdown-menu {
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 10px;
    }
    .nav-item a,
    .nav-item a:focus,
    .nav-item a:active,
    .nav-item a:checked {
        color: gray !important;
        border: none;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-image: url(../site-imgs/ar/الرئيسية/خلفية-بيفاتيلwebp); */
        background-position: inherit !important;
        background-size: cover;
        width: 100%;
        min-height: 50vh !important;
        padding: 20px;
        text-align: center;
    }
    header img {
        display: none
    }
    .subscribe {
        display: none;
    }
    .footer-main-container {
        padding-top: 38%;
    }
    .disable {
        display: none !important
    }
    .disable-desktop {
        display: block !important
    }
    .footer-menus {
        padding-right: 0
    }
    header.custom-for-mobile img {
        display: block;
        width: 90%;
        margin: auto;
    }
    .disable-desktop img {
        position: relative;
        width: 100%;
        border-radius: 10px;
    }

    .reverse{
        flex-direction: column-reverse !important;
    }
    

    .disable-desktop .fa-play-circle {
        font-size: 3rem;
        color: #ffffff;
        background: #0ed886;
        border-radius: 20px;
        position: absolute;
        left: calc(50% - 1.5rem);
        top: calc(50% - 1.5rem);
        z-index: 100000000000000;
        box-shadow: 0 2px 18px 0 #2b2727;
    }
}
/* Navbar */
.navbar {
    transition: 1s ease;
}
.navbar .green-btn a {
    text-decoration: none !important;
    color: white !important
}
.social {

    list-style-type: none;
}
.social li {
    display: inline;
    margin: 0 3px;
    color: white;
}
.social li a {
    color: white;
    text-decoration: none;
}
.social li a:hover {
    color: #0ed886 !important;
    text-decoration: none;
}
.navbar-scroll {
    background-image: url(/static/imgs/bg.webp) !important;
    background-size: cover;
    background-position: top;
}
.nav-item a {
    color: white;
    padding: .45rem 1rem;
}
.dropdown-menu li a {
    color: #959595;
    font-size: 14px;
}
.nav-item a:hover {
    color: #0ed886;
}
.navbar .green-btn {
    width: 100%;
    border-radius: 25px 25px 25px 0;
    text-align: center !important;
    background-color: #0ed886 !important;
    border-color: #0ed886 !important;
    font-size: 13px;
}
.nav-link:focus,
.nav-link:hover {
    color: #0ed886;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.dropdown-menu {
    box-shadow: 0 2px 5px 0 lightgrey;
    border: none !important;
    padding: 20px
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: #d3d3d391;
}
/* font awesome animation */

@keyframes ring {
    0% {
        background-color: #e35534;
    }

    100% {
        background-color: #f7b32d;
    }

}
.bell {
    padding: 3px;
    font-size: 12px;
    border-radius: 5px;
    color: white !important;
    animation: ring 1s infinite alternate;
}
.language-switcher {
    width: 40px;
    transform: 1s ease;
}
.language-switcher span {
    display: none;
    transform: 0.1s ease;

}
.language-switcher:hover {
    width: 90px;
}
.language-switcher:hover span {
    display: block;
}
.appear-on-hover {
    font-size: 12px;
    font-weight: 600;
    background: rgb(33, 64, 154);
    padding: 3px;
    COLOR: white;
    box-shadow: 0 2px 8px 0 lightgrey;
    transition: 1s ease;
    border-radius: 0 0 5px 5px;
}

.btn-grad-bevatel {background-image: linear-gradient(to right, #0ed886 0%, #457ddf  51%, #00898d  100%)}
.btn-grad-bevatel {
   margin-top: 10px;
   text-decoration: none;
   padding: 5px 10px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 5px;
   display: block;
 }

 .btn-grad-bevatel:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
/* animated span " ball " */

.shape1{
    position: absolute;
    z-index: -2;
    top: 50px;
    left: 0;
    bottom: 0;
    background-color: #1959ac1a;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.shape2{
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 20px;
    bottom: 0;
    background-color: #1959ac21;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.shape3{
    position: absolute;
    z-index: -1;
    top: -40px;
    left: calc(50% - 200px);
    bottom: 0px;
    background-color: #1959ac21;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.btn-outline-secondary{
    border-radius: 0 !important;
}

.border-white{
    border-bottom: 2px solid white;
}

/*
 *  custom scrolbar
 */

 ::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(194, 194, 194, 0.6);
   background-color: #ffffff;
   margin-right: 5px;
 }
 
 ::-webkit-scrollbar
 {
   width: 5px;
   background-color: white;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: rgb(33, 64, 154);

 }
 
 .accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    font-weight: 600;
    color: darkslategray;
}

.accordion-button:not(.collapsed){
    box-shadow: none ;
}

.accordion-flush .accordion-item .accordion-button:lang(ar) {
    text-align: right;
}

.accordion-flush .accordion-item .accordion-button:lang(en) {
    text-align: left;
}

/* ads area */

.fSveSP {
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.tOjJC {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #142e4f63;
    background-image: url(https://giphy.com/gifs/h5vFcvARn349ZaT27M);
    transition: background-color 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    overflow: hidden;

}

.cjzeDB {
    display: inline-block;
    padding: 7px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.hgIFlS {
    display: inline-block;
    padding: 4px 6px 3px;
    border-radius: 2px;
    background-color: red;
    color: white;
    font-size: 12px;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 8px;
}

.modal-header .btn-close{
    margin: auto;
    padding: 0;
}

.modal-header{
    position: absolute;
    z-index: 50;
    border: none;
    right: 0;
    top: 0;
    background: #0ed886;
    color: white;
    border-radius: 0;
    padding: 10px
}

.modal-dialog{
    max-width: 40%;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal input,
.modal textarea{
    width: 100% !important;
    border: none !important;
    background: #FFF !important;
    margin: 0 0 5px !important;
    padding: 10px !important;
    border-radius: 6px;
}

.modal #bevarqstar{
    border-radius: 6px !important;
}

.modal #rqstlead_mobile,
.modal #rqstlead_name,
.modal #rqstlead_email,
.modal textarea{
    margin: 0 0 10px !important;
    border: none !important;
    border-bottom: 1px solid gray !important;
}

.dropdown-menu-dark.show {
    display: contents;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    background-color: #adadad !important;
    color: #747474;
    font-weight: 400;
}


.dropdown-menu-dark .dropdown-item{
    color: #747474;
}

nav .dropdown-item:focus, nav .dropdown-item:hover {
    color: #1e2125;
    background-color: #dcf4ffa3 !important;
    border: none  !important
}

.dropdown-menu-dark{
    background-color: #2970b736;
    border-radius: 20px;
}

@media screen{
    .nav-item.dropdown:hover > .sub-sub-menu{
        display: block;
        position: absolute;
        right: 100%;
        top: -50%; 
    }
}

@media(max-width: 450px){
    .modal-dialog {
        max-width: 100%;
    }
}

.dropdown-menu li{
    padding: 0 20px;
}

.dropdown-menu{
    padding: 20px 0;
}
form#contact-form input:focus, form#contact-form textarea:focus{
    border: none !important;
    color: inherit !important;
}


form#contact-form input:lang(en), form#contact-form textarea:lang(en){
    text-align: left;
}

.accordion-button:lang(en):after {
    margin-right: initial !important;
    margin-left: auto !important;
}