{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/en/about-us.css' %}">
<link rel="stylesheet" href="{% static 'css/en/contact.css' %}">

<header dir="rtl">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <img class="mx-auto" src="{% static 'imgs/about-letsgrow.webp' %}" loading="lazy" alt="About LetsGrow"
                    title="About LetsGrow" style="width: 100%">
            </div>
            <div class="col-md-6 text-light">
                <h1 class="h2-title text-light">About us</h1>
                <p dir="ltr">LetsGrow.One is the leading company to provide integrated high-quality
                    services with professional experts and specialists and at the best prices in the world.</p>
                <p class="text-light ">
                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-success mx-2" href="#">About us</a>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center" dir="ltr">
        <div class="col-md-6">
            <h2 class="h2-title text-right">Our History</h2>

            <div class="spacer left my-3" style="width: 15%"></div>


            <p class="card-text">

                For the past Ten years Let’sGrow.one has provided customer support and call center services to
                different small and big business around the world. For us the business isn’t small or big we provide
                services to all the clients equally. From the beginning of our work, we have never compromised on
                quality and that is why we have quality control managers for every project.

            </p>


        </div>

        <div class="col-md-6">

            <!-- coursal -->

            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">



                <div class="carousel-inner">

                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="carousel-caption d-none d-md-block">

                            <h5>Custommer Support</h5>

                            <p> We provide 24/7 help through Calls, Live Chat and Email services in real time to
                                help your customers reach you. We are 24/7 365 days an year that is why people prefer
                                us to outsource their business.
                            </p>
                        </div>
                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>LetsGrow.One Social</h5>
                            <p>LetsGrow.One Social is the finest solution for your business to make markeing stratigies
                                and make content for its growth. We help with for all your business communication
                                channels (WhatsApp, Messenger,
                                Twitter, Telegram ... etc)

                            </p>

                        </div>



                    </div>

                    <div class="carousel-item">

                        <div class="carousel-caption d-none d-md-block">

                            <h5>Store Management</h5>

                            <p>LetsGrow.One is an outsourcing digital agency that provides store management facility for
                                your
                                businesses at Amazon, Shopify, E-commerce, eBay, WooCommerce, Estay, etc.
                            </p>

                        </div>

                    </div>

                    <div class="carousel-item">

                        <div class="carousel-caption d-none d-md-block">

                            <h5>Graphic Designing</h5>

                            <p>Our team has an analytical approach to sketch client’s perceptions using advanced
                                tools for logo design, branding or advertising your brand.

                            </p>

                        </div>

                    </div>

                    <div class="carousel-item">

                        <div class="carousel-caption d-none d-md-block">

                            <h5>Virtual Assistance</h5>

                            <p>Highly trained professionals will provide virtual assistance for your stores on Amazon,
                                eBay, Shopify,
                                WooCommerce, etc. We will provide you marketing assistance to boost your efforts
                                including
                                WordPress administration, email marketing, blog management, research, graphic design,
                                and report
                                generation.
                            </p>

                        </div>

                    </div>

                    <div class="carousel-item">

                        <div class="carousel-caption d-none d-md-block">

                            <h5>Discord Server Whitelisting</h5>

                            <p>LetsGrow.One moderators will serve as your NFT discord chat managers to whitelist your
                                accounts. We have
                                whitelisted more than 25 accounts for our clients. We are pretty much more experienced
                                than any other
                                outsourcing agencies in discord accounts whitelisting.

                            </p>

                        </div>

                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">

                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                    <span class="visually-hidden">Previous</span>

                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">

                    <span class="carousel-control-next-icon" aria-hidden="true"></span>

                    <span class="visually-hidden">Next</span>

                </button>

            </div>

        </div>

        <div class="col-md-6 mt-5">

            <h2 class="h2-title">Customer Support & Call Center ( LetsGrow.One ) Our Values: </h2>

            <div class="spacer left my-3"></div>

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">

                    <h2 class="accordion-header" id="headingOne">

                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                            Dynamic Call Center Services

                        </button>

                    </h2>

                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">

                        <div class="accordion-body">

                            Let’sGrow.one is a reliable outsource partner for businesses in the United Kingdom,
                            the United States, and Canada. Our talented team, 24 hours a day, 365 days a year,
                            provides responsive assistance and high-quality customer management services to hundreds
                            of clients throughout the world.

                        </div>

                    </div>

                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header" id="headingTwo">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Rationality
                        </button>
                    </h2>

                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">

                        <div class="accordion-body">

                            Our central goal is to assist our clients to make a major, long-term and enduring
                            improvement in their performance. Our main purpose revolves around serving our clients.

                        </div>

                    </div>

                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header" id="headingThree">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                            Regular Development

                        </button>

                    </h2>

                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">

                        <div class="accordion-body">

                            LetsGrow.One always develops its solutions regularly to provide professional services.

                            (LetsGrow.One believes that service and solutions regularly developing is its duty, as it is
                            the leading specialized company in this field, besides the importance of that to improve
                            the company’s customer service and technical support).

                        </div>

                    </div>

                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header" id="headingfour">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">

                            Privacy Protection & Security

                        </button>

                    </h2>

                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample">

                        <div class="accordion-body">

                            LetsGrow.One is committed to protecting customers’ privacy with fully secured databases and
                            servers.

                            (LetsGrow.One seeks to provide the highest protection for companies’ accounts and data.
                            Besides that, LetsGrow.One can’t enter any of its customers’ pages without an official
                            request from them).

                        </div>

                    </div>

                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header" id="headingfive">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">

                            Team working

                        </button>

                    </h2>

                    <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample">

                        <div class="accordion-body">

                            LetsGrow.One believes in team working to improve quality and provide professional services.

                            (LetsGrow.One has integrated teamwork with professional experts, technicians, and specialists
                            in programming, customer service, and call center to provide smart services for its
                            customers).

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6 mt-5 disable">

            <img src="https://www.bevatel.com/assets/site-imgs/en/About-us/Bevatel-International-Modern-Corporation-for-Communications.webp"
                alt="LetsGrow.One International Modern Corporation for Communications"
                title="LetsGrow.One International Modern Corporation for Communications" ;loading="lazy" class="w-100">

        </div>

        <div class="col-md-6 mt-5 disable">

            <img src="https://www.bevatel.com/assets/site-imgs/en/About-us/Mission-and-Vision-Bevatel.webp"
                loading="lazy" alt="Mission and Vision LetsGrow" title="Mission and Vision LetsGrow" class="w-100">

        </div>

        <div class="col-md-6 mt-5 my-3">

            <h2 class="h2-title">Our Mission</h2>

            <div class="spacer left my-3"></div>

            <p class="card-text">

                For the past Ten years Let’sGrow.one has provided customer support and call center services
                to different small and big business around the world. For us the business isn’t small or big
                we provide services to all the clients equally. From the beginning of our work, we have never
                compromised on quality and that is why we have quality control managers for every project.

            </p>

            <br>

            <h2 class="h2-title">Our Vision</h2>

            <div class="spacer left my-3"></div>

            <p class="card-text">

                We want to encourage the development of continual quality and introduce real quality customer service.
                We strive to serve you 365 days a year, 24 hours a day, seven days a week

            </p>

        </div>

    </div>

</div>

<div class="container">

    <div class="row p-3 p-md-5" style="background: #353eae">

        <div class="col-md-12 text-center">

            <h2 class="h2-title text-white text-center" dir="ltr">Why LetsGrow.One Services & Solutions?</h2>

            <div class="spacer my-3"></div>

            <p class="card-text text-center text-white">

                LetsGrow.One is the first in the Arab world to provide smart services and solutions with a lot of
                advantages that made LetsGrow.One the leading in Customer service and call center solutions.

            </p>

        </div>

    </div>

</div>

<div class="container">

    <div class="row p-3 py-md-5" dir="ltr">

        <div class="col-md-6 mt-2">

            <h2 class="h2-title">Our Duty</h2>

            <div class="spacer my-3 left"></div>

            <p class="card-text">

                LetsGrow's duty is not limited to just providing professional solutions and services to contact
                centers. But it extends to regular development for contact centers and customer service with the
                latest smart products and providing specialized technical consults to create advanced call
                centers. Also, LetsGrow.One always seeks to help the companies with integrated solutions with the highest
                quality and lowest costs.

            </p>

        </div>

        <div class="col-md-6 mt-2">

            <h2 class="h2-title text-right">What We Do</h2>

            <div class="spacer left my-3"></div>

            <p class="card-text">

                LetsGrow.One is a specialized and leading company for contact centers’ integrated professional services
                with its systems and techniques that help companies to develop their customer service, obtain
                high-quality calls, and make the connection faster and easier. Besides, staff monitoring, and then
                customer service and sales performance evaluating and improving via Cloud Call Center system, CRM,
                outsource call center services and other call center services.

            </p>

        </div>
    </div>
</div>

{% endblock %}