{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/en/clients.css' %}">
<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">
    
                <img class="mx-auto" src="{% static 'imgs/Clients-LetsGrow.webp' %}"

                    loading="lazy" loading="lazy" alt="Clients LetsGrow" title="Clients LetsGrow" style="width: 100%">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h3-title text-light">Our Clients</h1>

                <p dir="ltr">Whatever your business or your establishment field, LetsGrow.One can provide you with cloud solutions and integrated professional services that help you upgrade your contact center.</p>

                <p class="text-light ">

                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-success mx-2" href="#">Our Clients</a>

                </p>

            </div>

        </div>

    </div>

</header>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-md-5">
        <div class="col-md-10 mx-auto text-center">
            <p class="card-text">For more than 10 years, LetsGrow.One has succeeded in helping many leading companies in world to improve their Contact Centers with our smart services and solutions.</p>
            <p style="font-weight: 800">We are always proud to provide these companies with our services </p>
        </div>

        
        <!-- Others -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Our Happy Clients</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/AB-Group.webp' %}" loading="lazy" alt="AB Group" title="AB Group">
            <p class="appear-on-hover text-center">AB Group</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Atmata.webp' %}" loading="lazy" alt="Atmata" title="Atmata">
            <p class="appear-on-hover text-center">Atmata</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Boyot-Company.webp' %}" loading="lazy" alt="Boyot Company" title="Boyot Company">
            <p class="appear-on-hover text-center">Boyot Company</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Feesh-App.webp' %}" loading="lazy" alt="Feesh App" title="Feesh App">
            <p class="appear-on-hover text-center">Feesh App</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Maddataltksir.webp' %}" loading="lazy" alt="Maddataltksir" title="Maddataltksir">
            <p class="appear-on-hover text-center">Maddataltksir</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Mandobk.webp' %}" loading="lazy" alt="Mandobk" title="Mandobk">
            <p class="appear-on-hover text-center">Mandobk</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Mdfsa.webp' %}" loading="lazy" alt="Mdfsa" title="Mdfsa">
            <p class="appear-on-hover text-center">Mdfsa</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/MineVik.webp' %}" loading="lazy" alt="MineVik" title="MineVik">
            <p class="appear-on-hover text-center">MineVik</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Muathirun.webp' %}" loading="lazy" alt="Muathirun" title="Muathirun">
            <p class="appear-on-hover text-center">Muathirun</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Oud-Amoudi.webp' %}" loading="lazy" alt="Oud Amoudi" title="Oud Amoudi">
            <p class="appear-on-hover text-center">Oud Amoudi</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Rokill.webp' %}" loading="lazy" alt="Rokill" title="Rokill">
            <p class="appear-on-hover text-center">Rokill</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Ruwwad-Alemaar.webp' %}" loading="lazy" alt="Ruwwad Alemaar" title="Ruwwad Alemaar">
            <p class="appear-on-hover text-center">Ruwwad Alemaar</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Sahary.webp' %}" loading="lazy" alt="Sahary" title="Sahary">
            <p class="appear-on-hover text-center">Sahary</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Sorrah.webp' %}" loading="lazy" alt="Sorrah" title="Sorrah">
            <p class="appear-on-hover text-center">Sorrah</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="{% static 'imgs/clients/Swan.webp' %}" loading="lazy" alt="Swan" title="Swan">
            <p class="appear-on-hover text-center">Swan</p>
        </div>
    </div>
</div>

{% endblock content %}