{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/en/clients.css' %}">
<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">
    
                <img class="mx-auto" src="https://www.bevatel.com/assets/site-imgs/en/Clients/Clients-Bevatel.webp"

                    loading="lazy" loading="lazy" alt="Clients LetsGrow" title="Clients LetsGrow" style="width: 100%">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h3-title text-light">Our Clients</h1>

                <p dir="ltr">Whatever your business or your establishment field, LetsGrow can provide you with cloud solutions and integrated professional services that help you upgrade your contact center.</p>

                <p class="text-light ">

                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-success mx-2" href="#">Our Clients</a>

                </p>

            </div>

        </div>

    </div>

</header>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center mb-md-5">
        <div class="col-md-10 mx-auto text-center">
            <p class="card-text">For more than 10 years, LetsGrow has succeeded in helping many leading companies in world to improve their Contact Centers with our smart services and solutions.</p>
            <p style="font-weight: 800">We are always proud to provide these companies with our services </p>
        </div>


        <!-- Medical Foundations -->
        
        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Medical Foundations</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/7-Stars-Clinic.webp" loading="lazy" alt="7 Stars Clinic" title="7 Stars Clinic">
            <p class="appear-on-hover text-center">7 Stars Clinic</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Tabib-Group.webp" loading="lazy" alt="Tabib Group" title="Tabib Group">
            <p class="appear-on-hover text-center">Tabib Group</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Alrida-Clinic.webp" loading="lazy" alt="Alrida Clinic" title="Alrida Clinic">
            <p class="appear-on-hover text-center">Alrida Clinic</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Alroaya-Clinics.webp" loading="lazy" alt="Alroaya Clinics" title="Alroaya Clinics">
            <p class="appear-on-hover text-center">Alroaya Clinics</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Amass-PolyClinic-Center.webp" loading="lazy" alt="Amass PolyClinic Center" title="Amass PolyClinic Center">
            <p class="appear-on-hover text-center">Amass PolyClinic Center</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Clinic-9.webp" loading="lazy" alt="Clinic 9" title="Clinic 9">
            <p class="appear-on-hover text-center">Clinic 9</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Delta.webp" loading="lazy" alt="Delta" title="Delta">
            <p class="appear-on-hover text-center">Delta</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Deryaq.webp" loading="lazy" alt="Deryaq" title="Deryaq">
            <p class="appear-on-hover text-center">Deryaq</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Doctor-Tech.webp" loading="lazy" alt="Doctor Tech" title="Doctor Tech">
            <p class="appear-on-hover text-center">Doctor Tech</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Elhokel-Hospital.webp" loading="lazy" alt="Elhokel Hospital" title="Elhokel Hospital">
            <p class="appear-on-hover text-center">Elhokel Hospital</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Home-Lab.webp" loading="lazy" alt="Home Lab" title="Home Lab"> 
            <p class="appear-on-hover text-center">Home Lab</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Kingdom-Of-Doctors.webp" loading="lazy" alt="Kingdom Of Doctors" title="Kingdom Of Doctors">
            <p class="appear-on-hover text-center">Kingdom Of Doctors</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2" style="margin-right: auto">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Makkah-Medical.webp" loading="lazy" alt="Makkah Medical" title="Makkah Medical">
            <p class="appear-on-hover text-center">Makkah Medical</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/Medical-Service-for-Armed-Forces.webp" loading="lazy" alt="Medical Service for Armed Forces" title="Medical Service for Armed Forces">
            <p class="appear-on-hover text-center">Medical Service for Armed Forces</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2" style="margin-left: auto">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Medical-Foundations/National-Tiryaq-Medical-Company.webp" loading="lazy" alt="National Tiryaq Medical Company" title="National Tiryaq Medical Company">
            <p class="appear-on-hover text-center">National Tiryaq Medical Company</p>
        </div>

        <!-- Travel and Toursim -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Travel and Toursim</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Al-Musafer-Holidays.webp" loading="lazy" alt="Al Musafer Holidays" title="Al Musafer Holidays">
            <p class="appear-on-hover text-center">Al Musafer Holidays</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/ASAS.webp" loading="lazy" alt="ASAS" title="ASAS">
            <p class="appear-on-hover text-center">ASAS</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Doeen.webp" loading="lazy" alt="Doeen" title="Doeen">
            <p class="appear-on-hover text-center">Doeen</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/GITA.webp" loading="lazy" alt="GITA" title="GITA">
            <p class="appear-on-hover text-center">GITA</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Hojuzat.webp" loading="lazy" alt="Hojuzat" title="Hojuzat">
            <p class="appear-on-hover text-center">Hojuzat</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Hotel-Gate.webp" loading="lazy" alt="Hotel Gate" title="Hotel Gate">
            <p class="appear-on-hover text-center">Hotel Gate</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Hotels-Task.webp" loading="lazy" alt="Hotels Task" title="Hotels Task">
            <p class="appear-on-hover text-center">Hotels Task</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Lati.webp" loading="lazy" alt="Lati" title="Lati">
            <p class="appear-on-hover text-center">Lati</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Mirada-Hotels.webp" loading="lazy" alt="Mirada Hotels" title="Mirada Hotels">
            <p class="appear-on-hover text-center">Mirada Hotels</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Passenger.webp" loading="lazy" alt="Passenger" title="Passenger">
            <p class="appear-on-hover text-center">Passenger</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2 d-flex">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Sixth-Gulf.webp" loading="lazy" alt="Sixth Gulf" title="Sixth Gulf">
            <p class="appear-on-hover text-center">Sixth Gulf</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Travel-and-Toursim/Wahaj.webp" loading="lazy" alt="Wahaj" title="Wahaj">
            <p class="appear-on-hover text-center">Wahaj</p>
        </div>

        <!-- Trade Companies -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Trade Companies</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/AB-Holding-Hub.webp" loading="lazy" alt="AB Holding Hub" title="AB Holding Hub">
            <p class="appear-on-hover text-center">AB Holding Hub</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Al-Ahli-Refrigerators-Co.webp" loading="lazy" alt="Al Ahli Refrigerators Co" title="Al Ahli Refrigerators Co">
            <p class="appear-on-hover text-center">Al Ahli Refrigerators Co</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Al-Asdaf.webp" loading="lazy" alt="Al Asdaf" title="Al Asdaf">
            <p class="appear-on-hover text-center">Al Asdaf</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Al-Khaldia-Holding-Group.webp" loading="lazy" alt="Al Khaldia Holding Group" title="Al Khaldia Holding Group">
            <p class="appear-on-hover text-center">Al Khaldia Holding Group</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Bin-Awad-Group.webp" loading="lazy" alt="Bin Awad Group" title="Bin Awad Group">
            <p class="appear-on-hover text-center">Bin Awad Group</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Fetco.webp" loading="lazy" alt="Fetco" title="Fetco">
            <p class="appear-on-hover text-center">Fetco</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Mayas-Creative.webp" loading="lazy" alt="Mayas Creative" title="Mayas Creative">
            <p class="appear-on-hover text-center">Mayas Creative</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Motory.webp" loading="lazy" alt="Motory" title="Motory">
            <p class="appear-on-hover text-center">Motory</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Qimam.webp" loading="lazy" alt="Qimam" title="Qimam">
            <p class="appear-on-hover text-center">Qimam</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Saudi-Call.webp" loading="lazy" alt="Saudi Call" title="Saudi Call">
            <p class="appear-on-hover text-center">Saudi Call</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2 d-flex">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/The-Tradings-Hub.webp" loading="lazy" alt="The Tradings Hub" title="The Tradings Hub">
            <p class="appear-on-hover text-center">The Tradings Hub</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Trade-Companies/Zakhrafa.webp" loading="lazy" alt="Zakhrafa" title="Zakhrafa">
            <p class="appear-on-hover text-center">Zakhrafa</p>

        </div>

        <!-- Business Solutions -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Business Solutions</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Aldawal.webp" loading="lazy" alt="Aldawal" title="Aldawal">
            <p class="appear-on-hover text-center">Aldawal</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Al-Mehwar.webp" loading="lazy" alt="Al Mehwar" title="Al Mehwar">
            <p class="appear-on-hover text-center">Al Mehwar</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Areen-Asia-Recruitment.webp" loading="lazy" alt="Areen Asia Recruitment" title="Areen Asia Recruitment">
            <p class="appear-on-hover text-center">Areen Asia Recruitment</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Arjaa-Agency.webp" loading="lazy" alt="Arjaa Agency" title="Arjaa Agency">
            <p class="appear-on-hover text-center">Arjaa Agency</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Dash.webp" loading="lazy" alt="Dash" title="Dash">
            <p class="appear-on-hover text-center">Dash</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Digital-Pay.webp" loading="lazy" alt="Digital Pay" title="Digital Pay">
            <p class="appear-on-hover text-center">Digital Pay</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Dimensions.webp" loading="lazy" alt="Dimensions" title="Dimensions">
            <p class="appear-on-hover text-center">Dimensions</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Elite-Apps.webp" loading="lazy" alt="Elite Apps" title="Elite Apps">
            <p class="appear-on-hover text-center">Elite Apps</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Emtedad.webp" loading="lazy" alt="Emtedad" title="Emtedad">
            <p class="appear-on-hover text-center">Emtedad</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2 d-flex">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Etmam.webp" loading="lazy" alt="Etmam" title="Etmam">
            <p class="appear-on-hover text-center">Etmam</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Global-Innovation.webp" loading="lazy" alt="Global Innovation" title="Global Innovation">
            <p class="appear-on-hover text-center">Global Innovation</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Info-Design-SA.webp" loading="lazy" alt="Info Design SA" title="Info Design SA">
            <p class="appear-on-hover text-center">Info Design SA</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Momkn.webp" loading="lazy" alt="Momkn" title="Momkn">
            <p class="appear-on-hover text-center">Momkn</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Ncsmena.webp" loading="lazy" alt="Ncsmena" title="Ncsmena">
            <p class="appear-on-hover text-center">Ncsmena</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/NES.webp" loading="lazy" alt="NES" title="NES">
            <p class="appear-on-hover text-center">NES</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Odootec.webp" loading="lazy" alt="Odootec" title="Odootec">
            <p class="appear-on-hover text-center">Odootec</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Orchid-Soft.webp" loading="lazy" alt="Orchid Soft" title="Orchid Soft">
            <p class="appear-on-hover text-center">Orchid Soft</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Rateemah.webp" loading="lazy" alt="Rateemah" title="Rateemah">
            <p class="appear-on-hover text-center">Rateemah</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Shifters-Company.webp" loading="lazy" alt="Shifters Company" title="Shifters Company">
            <p class="appear-on-hover text-center">Shifters Company</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Sigma.webp" loading="lazy" alt="Sigma" title="Sigma">
            <p class="appear-on-hover text-center">Sigma</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/SMS-4KSA.webp" loading="lazy" alt="SMS 4KSA" title="SMS 4KSA">
            <p class="appear-on-hover text-center">SMS 4KSA</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Twerlo.webp" loading="lazy" alt="Twerlo" title="Twerlo">
            <p class="appear-on-hover text-center">Twerlo</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/Wanna-Talk-Group.webp" loading="lazy" alt="Wanna Talk Group" title="Wanna Talk Group">
            <p class="appear-on-hover text-center">Wanna Talk Group</p>

        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Business-Solutions/World-of-system-&amp;-Software.webp" loading="lazy" alt="World of system & Software" title="World of system & Software">
            <p class="appear-on-hover text-center">World of system & Software</p>

        </div>


        <!-- Restaurants -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Restaurants</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/3Eggs.webp" loading="lazy" alt="3Eggs" title="3Eggs">
                    <p class="appear-on-hover text-center">3Eggs</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Antifat-Plus.webp" loading="lazy" alt="Antifat Plus" title="Antifat Plus">
                    <p class="appear-on-hover text-center">Antifat Plus</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/BackYard.webp" loading="lazy" alt="BackYard" title="BackYard">
                    <p class="appear-on-hover text-center">BackYard</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Dendeng.webp" loading="lazy" alt="Dendeng" title="Dendeng">
                    <p class="appear-on-hover text-center">Dendeng</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Food-Specialized-Company.webp" loading="lazy" alt="Food Specialized Company" title="Food Specialized Company">
                    <p class="appear-on-hover text-center">Food Specialized Company</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Fresh-Burger.webp" loading="lazy" alt="Fresh Burger" title="Fresh Burger">
                    <p class="appear-on-hover text-center">Fresh Burger</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Gourmet-Food.webp" loading="lazy" alt="Gourmet Food" title="Gourmet Food">
                    <p class="appear-on-hover text-center">Gourmet Food</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Grill-Corner.webp" loading="lazy" alt="Grill Corner" title="Grill Corner">
                    <p class="appear-on-hover text-center">Grill Corner</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Harrys-Pizza.webp" loading="lazy" alt="Harrys Pizza" title="Harrys Pizza">
            <p class="appear-on-hover text-center">Harrys Pizza</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Logmah-Lazezah.webp" loading="lazy" alt="Logmah Lazezah" title="Logmah Lazezah">
            <p class="appear-on-hover text-center">Logmah Lazezah</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2 d-flex">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Mediaf.webp" loading="lazy" alt="Mediaf" title="Mediaf">
            <p class="appear-on-hover text-center">Mediaf</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Mee-So-Hungry.webp" loading="lazy" alt="Mee So Hungry" title="Mee So Hungry">
            <p class="appear-on-hover text-center">Mee So Hungry</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Mirra-Food.webp" loading="lazy" alt="Mirra Food" title="Mirra Food">
            <p class="appear-on-hover text-center">Mirra Food</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/OAK-Smoke-House-Barbecue-Restaurant.webp" loading="lazy" alt="OAK Smoke House Barbecue Restaurant" title="OAK Smoke House Barbecue Restaurant">
            <p class="appear-on-hover text-center">OAK Smoke House Barbecue Restaurant</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Origin-Burger.webp" loading="lazy" alt="Origin Burger" title="Origin Burger">
            <p class="appear-on-hover text-center">Origin Burger</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Shawermatech.webp" loading="lazy" alt="Shawermatech" title="Shawermatech">
            <p class="appear-on-hover text-center">Shawermatech</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Wakame.webp" loading="lazy" alt="Wakame" title="Wakame">
            <p class="appear-on-hover text-center">Wakame</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Wardah-Albukhari.webp" loading="lazy" alt="Wardah Albukhari" title="Wardah Albukhari">
            <p class="appear-on-hover text-center">Wardah Albukhari</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Wataniaa.webp" loading="lazy" alt="Wataniaa" title="Wataniaa">
            <p class="appear-on-hover text-center">Wataniaa</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Restaurants/Yummy-Yummy.webp" loading="lazy" alt="Yummy-Yummy" title="Yummy-Yummy">
            <p class="appear-on-hover text-center">Yummy-Yummy</p>
        </div>



        <!-- Online Stores -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Online Stores</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Camy-Com.webp" loading="lazy" alt="Camy Com" title="Camy Com">
            <p class="appear-on-hover text-center">Camy Com</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Kpopia-Shop.webp" loading="lazy" alt="Kpopia Shop" title="Kpopia Shop">
            <p class="appear-on-hover text-center">Kpopia Shop</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Luxury-Av.webp" loading="lazy" alt="Luxury Av" title="Luxury Av">
            <p class="appear-on-hover text-center">Luxury Av</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Orange-Bed-&amp;-Bath.webp" loading="lazy" alt="Orange Bed & Bath" title="Orange Bed & Bath">
            <p class="appear-on-hover text-center">Orange Bed & Bath</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Romooz.webp" loading="lazy" alt="Romooz" title="Romooz">
            <p class="appear-on-hover text-center">Romooz</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Souq-Alkhalej.webp" loading="lazy" alt="Souq Alkhalej" title="Souq Alkhalej">
            <p class="appear-on-hover text-center">Souq Alkhalej</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Story-Scent.webp" loading="lazy" alt="Story Scent" title="Story Scent">
            <p class="appear-on-hover text-center">Story Scent</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Weqaity.webp" loading="lazy" alt="Weqaity" title="Weqaity">
            <p class="appear-on-hover text-center">Weqaity</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Woow.webp" loading="lazy" alt="Woow" title="Woow">
            <p class="appear-on-hover text-center">Woow</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/Wrraqoon.webp" loading="lazy" alt="Wrraqoon" title="Wrraqoon">
            <p class="appear-on-hover text-center">Wrraqoon</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Online-Stores/You-Mats.webp" loading="lazy" alt="You Mats" title="You Mats">
            <p class="appear-on-hover text-center">You Mats</p>
        </div>

        <!-- Educational Establishments -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Educational Establishments</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Educational-Establishments/Al-Hewar.webp" loading="lazy" alt="Al Hewar" title="Al Hewar">
            <p class="appear-on-hover text-center">Al Hewar</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Educational-Establishments/Assrooh-Athakiyah.webp" loading="lazy" alt="Assrooh Athakiyah" title="Assrooh Athakiyah">
            <p class="appear-on-hover text-center">Assrooh Athakiyah</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Educational-Establishments/Etar.webp" loading="lazy" alt="Etar" title="Etar">
            <p class="appear-on-hover text-center">Etar</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Educational-Establishments/Tafe-Arabia.webp" loading="lazy" alt="Tafe Arabia" title="Tafe Arabia">
            <p class="appear-on-hover text-center">Tafe Arabia</p>
        </div>

       
      
        <!-- Real State Companies -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Real State Companies</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/Alosool.webp" loading="lazy" alt="Alosool" title="Alosool">
            <p class="appear-on-hover text-center">Alosool</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/AlSaadi-Group.webp" loading="lazy" alt="AlSaadi Group" title="AlSaadi Group">
            <p class="appear-on-hover text-center">AlSaadi Group</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/Dahlawi-Properties.webp" loading="lazy" alt="Dahlawi Properties" title="Dahlawi Properties">
            <p class="appear-on-hover text-center">Dahlawi Properties</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/First-Gulf.webp" loading="lazy" alt="First Gulf" title="First Gulf">
            <p class="appear-on-hover text-center">First Gulf</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/Helol-CO.webp" loading="lazy" alt="Helol CO" title="Helol CO">
            <p class="appear-on-hover text-center">Helol CO</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/Masarfco.webp" loading="lazy" alt="Masarfco" title="Masarfco">
            <p class="appear-on-hover text-center">Masarfco</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/Rajhi-Development.webp" loading="lazy" alt="Rajhi Development" title="Rajhi Development">
            <p class="appear-on-hover text-center">Rajhi Development</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Real-State-Companies/Xlife.webp" loading="lazy" alt="Xlife" title="Xlife">
            <p class="appear-on-hover text-center">Xlife</p>
        </div>

        <!-- Service Companies -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Service Companies</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Service-Companies/Advanced-Saudi-Houses.webp" loading="lazy" alt="Advanced Saudi Houses" title="Advanced Saudi Houses">
            <p class="appear-on-hover text-center">Advanced Saudi Houses</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Service-Companies/FCOSA.webp" loading="lazy" alt="FCOSA" title="FCOSA">
            <p class="appear-on-hover text-center">FCOSA</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Service-Companies/Five-Moons.webp" loading="lazy" alt="Five Moons" title="Five Moons">
            <p class="appear-on-hover text-center">Five Moons</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Service-Companies/Future-Aswaq.webp" loading="lazy" alt="Future Aswaq" title="Future Aswaq">
            <p class="appear-on-hover text-center">Future Aswaq</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Service-Companies/Jezerah-United-Public-Services.webp" loading="lazy" alt="Jezerah United Public Services" title="Jezerah United Public Services">
            <p class="appear-on-hover text-center">Jezerah United Public Services</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Service-Companies/Takaful.webp" loading="lazy" alt="Takaful" title="Takaful">
            <p class="appear-on-hover text-center">Takaful</p>
        </div>

       
        <!-- Others -->

        <div class="col-md-12 text-center my-3 my-md-5">
            <h3 class="h3-title">Others</h3>
            <div class="spacer my-3"></div>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/AB-Group.webp" loading="lazy" alt="AB Group" title="AB Group">
            <p class="appear-on-hover text-center">AB Group</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Atmata.webp" loading="lazy" alt="Atmata" title="Atmata">
            <p class="appear-on-hover text-center">Atmata</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Boyot-Company.webp" loading="lazy" alt="Boyot Company" title="Boyot Company">
            <p class="appear-on-hover text-center">Boyot Company</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Feesh-App.webp" loading="lazy" alt="Feesh App" title="Feesh App">
            <p class="appear-on-hover text-center">Feesh App</p>
        </div>
        <!-- <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="/assets/site-imgs/en/Clients/Others/JCDecaux.webp" loading="lazy" alt="JCDecaux" title="JCDecaux">
            <p class="appear-on-hover text-center">JCDecaux</p>
        </div> -->
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Maddataltksir.webp" loading="lazy" alt="Maddataltksir" title="Maddataltksir">
            <p class="appear-on-hover text-center">Maddataltksir</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Mandobk.webp" loading="lazy" alt="Mandobk" title="Mandobk">
            <p class="appear-on-hover text-center">Mandobk</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Mdfsa.webp" loading="lazy" alt="Mdfsa" title="Mdfsa">
            <p class="appear-on-hover text-center">Mdfsa</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/MineVik.webp" loading="lazy" alt="MineVik" title="MineVik">
            <p class="appear-on-hover text-center">MineVik</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Muathirun.webp" loading="lazy" alt="Muathirun" title="Muathirun">
            <p class="appear-on-hover text-center">Muathirun</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Oud-Amoudi.webp" loading="lazy" alt="Oud Amoudi" title="Oud Amoudi">
            <p class="appear-on-hover text-center">Oud Amoudi</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Rokill.webp" loading="lazy" alt="Rokill" title="Rokill">
            <p class="appear-on-hover text-center">Rokill</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Ruwwad-Alemaar.webp" loading="lazy" alt="Ruwwad Alemaar" title="Ruwwad Alemaar">
            <p class="appear-on-hover text-center">Ruwwad Alemaar</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Sahary.webp" loading="lazy" alt="Sahary" title="Sahary">
            <p class="appear-on-hover text-center">Sahary</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Sorrah.webp" loading="lazy" alt="Sorrah" title="Sorrah">
            <p class="appear-on-hover text-center">Sorrah</p>
        </div>
        <div class="col-md-2 hvr-float-shadow my-3 mx-2">
            <img src="https://www.bevatel.com/assets/site-imgs/en/Clients/Others/Swan.webp" loading="lazy" alt="Swan" title="Swan">
            <p class="appear-on-hover text-center">Swan</p>
        </div>
    </div>
</div>

{% endblock content %}