{% extends 'base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/en/contact.css' %}">

<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <img class="mx-auto" src="{% static 'imgs/contact-us.webp' %}" loading="lazy"
                    alt="Contact LetsGrow" title="Contact LetsGrow" style="width: 80%">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h2-title text-light">Contact us</h1>

                <p dir="ltr">Always stay connected with us through this page or our unified number +923440981968

                <p class="text-light ">

                    <a class="text-light ml-2" href="index.html">Home</a> /

                    <a class="text-success mx-2" href="#">Contact us</a>

                </p>

            </div>

        </div>

    </div>

</header>





<div class="container">
    <div class="row d-flex justify-content-center align-items-center py-md-5">
        <div class="col-md-5">
            <!--<lottie-player class="mx-auto" src="https://assets1.lottiefiles.com/packages/lf20_7wwm6az7.json"  background="transparent"  speed="1"  style="width: 350px; height: 350px;"  loop  autoplay></lottie-player>-->
            <div class="row mx-auto">
                <img class="img-fluid" src="{% static 'imgs/contact-us.png' %}" />
            </div>
            <div class="row mx-auto">
                <div class="col-md-12 text-center py-3 d-flex justify-content-center align-items-center">
                    <a class="social-icon-contact" href="#">
                        <svg aria-hidden="true" focusable="false" style="width:20px; height: 20px; margin: 0 10px"
                            data-prefix="fab" data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512" class="svg-inline--fa fa-youtube fa-7x">
                            <path fill="#3f51b5"
                                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                                class=""></path>
                        </svg>
                    </a>
                    <a class="social-icon-contact" href="https://www.facebook.com/LetsGrow.one">
                        <svg aria-hidden="true" focusable="false" style="width:20px; height: 20px; margin: 0 10px"
                            data-prefix="fab" data-icon="facebook" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512" class="svg-inline--fa fa-facebook fa-7x">
                            <path fill="#3f51b5"
                                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                                class=""></path>
                        </svg>
                    </a>
                    <a class="social-icon-contact" href="https://www.instagram.com/letsgrow.one/?hl=en">
                        <svg aria-hidden="true" focusable="false" style="width:20px; height: 20px; margin: 0 10px"
                            data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" class="svg-inline--fa fa-instagram fa-7x">
                            <path fill="#3f51b5"
                                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                                class=""></path>
                        </svg>
                    </a>
                    <a class="social-icon-contact" href="https://www.linkedin.com/in/shakir-ullah198/">
                        <svg aria-hidden="true" focusable="false" style="width:20px; height: 20px; margin: 0 10px"
                            data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-7x">
                            <path fill="#3f51b5"
                                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                                class=""></path>
                        </svg>
                    </a>
                    <a class="social-icon-contact" href="#">
                        <svg aria-hidden="true" style="width:20px; height: 20px; margin: 0 10px; margin-top: 10px"
                            aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="rgb(63, 81, 181)"
                                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                            </path>
                        </svg> </a>
                </div>
            </div>
        </div>
        <div class="col-md-5" dir="ltr">
            <h2 class="h2-title my-3">Contact us</h2>
            <p class="card-text mb-3">
                Feel free to contact us any time; we always welcome your inquiries We are always available to help and
                serve you 24h/day for all the weekdays
            </p>

            <form id="contact-form" name="Website-Form-EN" action="" method="post" accept-charset="utf-8"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="__vtrftk"
                    value="sid:a5a95908836d56c328cef5fe9243f8b235329f1c,1641218880"><input type="hidden" name="publicid"
                    value="522d955c561c4401fe5e7e5d4cf1f747"><input type="hidden" name="urlencodeenable"
                    value="1"><input type="hidden" name="name" value="Website-Form-EN">
                <div class="row mb-3">
                    <div class="col-6 form-group"> <input type="text" id="ctctlead_name" name="lastname"
                            class="form-control" placeholder="Your Name" required="">
                    </div>
                    <div class="col-6 form-group"> <input type="text" id="ctctlead_mobile" name="mobile"
                            class="form-control" placeholder="Mobile" required="">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <input type="email" id="ctctlead_email" name="email" class="form-control"
                        placeholder="Email Adress">
                </div>
                <select name="leadsource" data-label="leadsource" hidden="">
                    <option value="">Select Value</option>
                    <option value="Google Ads">Google Ads</option>
                    <option value="Cold Call">Cold Call</option>
                    <option value="Web Site">Web Site</option>
                    <option value="Existing Customer">Existing Customer</option>
                    <option value="LinkedIN">LinkedIN</option>
                    <option value="Google">Google</option>
                    <option value="Self Generated">Self Generated</option>
                    <option value="Employee">Employee</option>
                    <option value="Partner">Partner</option>
                    <option value="Public Relations">Public Relations</option>
                    <option value="Direct Mail">Direct Mail</option>
                    <option value="Conference">Conference</option>
                    <option value="Word of mouth">Word of mouth</option>
                    <option value="Other">Other</option>
                    <option value="Email campaign">Email campaign</option>
                    <option value="WhatsUp campaign">WhatsUp campaign</option>
                    <option value="WEBFORM">WEBFORM</option>
                    <option value="Chatting">Chatting</option>
                    <option value="Website-EN" selected="">Website-EN</option>
                    <option value="Website-AR">Website-AR</option>
                </select>
                <div class="form-group mb-3">
                    <textarea class="form-control" id="ctctlead_description" Name="description" rows="3"
                        placeholder="Message"></textarea>
                </div>
                <button type="submit" id="bevacontactar" class="btn btn-primary text-center">Send Message</button>
            </form>
        </div>
    </div>
</div>
<div class="cards container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="h2-title my-3">Our branches</h2>
            <div class="spacer mb-5"></div>
        </div>
        <div class="col-md-3">

        </div>

        <div class="col-md-3">

            <div class="card" style="background-image: url(/static/imgs/islamabad.jpg);">

                <div class="info">

                    <div class="container">

                        <h5 class="text-center">Islamabad</h5>



                        <p class="card-text text-center"><i class="fas fa-map-marker-alt"
                                style="margin-left: 5px;"></i><span style="font-family: Tajawal;">Registered Number:
                                +923440981968</span></p>

                        <p class="card-text text-center"><i class="fas fa-map-marker-alt"
                                style="margin-left: 5px;"></i><span style="font-family: Tajawal;">Office 114 – Road 2802
                                – Block 428 – Millinium Heights – F11/4</span></p>

                        <p class="card-text text-center"><i class="fas fa-map-marker-alt" style="margin-left: 5px;"></i>
                            <span style="font-family: Tajawal;">Email: sales@letsgrow.com </span>
                        </p>

                        <p class="card-text text-center"><i class="fa fa-phone" style="margin-left: 5px;"></i><span
                                style="font-weight: 400;">3440981968 &nbsp; </span>(92+)</p>

                        <p class="card-text text-center"><i class="fa fa-clock" style="margin-left: 5px;"></i>Monday –
                            Friday: 9 AM: 6 PM</p>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="background-image: url(/static/imgs/rawalpindi.jpg);">

                <div class="info">

                    <div class="container">

                        <h5 class="text-center">Rawalpindi</h5>
                        <br>
                        <p class="card-text text-center"><i class="fas fa-map-marker-alt"
                                style="margin-left: 5px;"></i><span style="font-family: Tajawal;">28 Main Street –
                                Murri Road – Rawalpindi</span></p>

                        <p class="card-text text-center"><i class="fas fa-map-marker-alt" style="margin-left: 5px;"></i>
                            <span style="font-family: Tajawal;">Email: sales@letsgrow.com </span>
                        </p>

                        <p class="card-text text-center"><i class="fa fa-phone" style="margin-left: 5px;"></i><span
                                style="font-weight: 400;">3440981968&nbsp; </span>(92+)</p>

                        <p class="card-text text-center"><i class="fa fa-clock" style="margin-left: 5px;"></i>Monday –
                            Friday: 9 AM: 6 PM</p>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">

        </div>
    </div>
</div>

{% endblock %}