{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/en/customer-support.css' %}">
<!-- start header -->

<header>

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <img class="w-100"
                    src="{% static 'imgs/sliders/va.webp' %}"
                    loading="lazy" alt="Cloud Call Center" title="Cloud Call Center">
            </div>

            <div class="col-md-6 text-light">

                <h1 class="h2-title text-light text-left">Customer Support Services</h1>

                <p dir="ltr"> Always keep connected with your customers with LetsGrow. The first system

                    enables

                    you to connect online with your customers remotely and wherever you are.</p>

                <p class="text-light  text-left">

                    <a class="text-light ml-2" href="https://letsgrow.one/">Home </a>/

                    <a class="text-light mx-2" href="">Services</a>/

                    <a class="text-success mx-2" href="cloud-call-center.html">Customper Support</a>

                </p>

            </div>

        </div>

    </div>

</header>

<!-- end header -->



<!-- start about -->

<section class="about px-3" dir="ltr">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-12">

                <h2 class="h2-title text-center">How we help you with your Customers?</h2>

                <div class="spacer spacer-green my-2"></div>

                <p>

                    We will provide 24/7 help through Calls, Live Chat and Email services in real time to
                    help your customers reach you. We are 24/7 365 days an year that is why people prefer
                    us to outsource their business. </p>

            </div>

            <div class="col-md-6">

                <p> We
                    are having an experience of over 10 years in customer service. We have clients from the US, England,
                    France, Germany, Canada, Malta, China and Vietnam. We are experts in customer support and service as
                    we have experience in different inbound and outbound projects</p>

                <p> With us you can boost your business as
                    we are offering less price than the other outsourcing agencies out there.</p>

            </div>

            <div class="col-md-6">

                <img class="w-100"
                    src="{% static 'imgs/customer-support/Cloud-Call-Center.webp' %}"
                    loading="lazy" alt="Cloud Call Center System" title="Cloud Call Center System">

            </div>

        </div>

    </div>

</section>

<!-- end about  -->

<!-- start features -->

<section class="features px-3 " dir="ltr">



    <div class="container">

        <div class="row">

            <div class="col-md-10 text-center mx-auto my-5">

                <h2 class="h2-title">What is Solutions & Features</h2>

                <p class="sub-title"> for using Customer Support from LetsGrow?</p>

                <div class="spacer"></div>

            </div>



            <!-- 9 features -->



            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="phone line" title="phone line">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Active Listening</h5>

                                <p class="card-text">We listen and respond to your customers’ needs, feedbacks and
                                    concerns
                                    and let you know how how customers feel about the product, which eventually helps
                                    you to make
                                    good business decision.

                                    .</p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Unified Number 9200"
                                    title="Unified Number 9200">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Information Products/Services</h5>

                                <p class="card-text">LetsGrow.One Provide a unique description and details related to your
                                    products and Services. LetsGrow.One provide information on various attributes of the
                                    products and services which increase its sales.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Welcoming Message"
                                    title="Welcoming Message">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Billing or Payments</h5>

                                <p class="card-text">We provide you taking orders, determine charges, and oversee
                                    billing
                                    or manual payments. We help with "Charge with invoice or creating payment intents,
                                    or
                                    suggested method</p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Call Recording" title="Call Recording">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Customers Accounts Handling</h5>

                                <p class="card-text">LetsGrow.One provide review or make changes to customer accounts.
                                    Good customer account reviews reveal new clients and boost the business.</p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Waiting Feature" title="Waiting Feature">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Compalints and Returns Handling</h5>

                                <p class="card-text">LetsGrow.One deal with your customers' complaints in a flexible way.
                                    By digging deeper in the problem, asking the right question and presenting the most
                                    optimal solution for it.
                                </p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Working hours & Holidays"
                                    title="Working hours & Holidays">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Customer Account Record</h5>

                                <p class="card-text">LetsGrow.One collect the information of your customers: order forms,
                                    enquiries, taken actions, complaints, warranty cards, feedbacks, customer rewards
                                    programs and many more. LetsGrow.One manage the above records for smooth business
                                    processes.
                                </p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Remotely Working" title="Remotely Working">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Referring Customers</h5>

                                <p class="card-text">LetsGrow.One provide customers Referal system in which we
                                    refer your customers to supervisors, managers, or others who can help</p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>

            <div class="col-md-6">



                <div class="card mx-auto hvr-float small-shadow my-2" style="width: 100%">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-2 disable">

                                <img src="{% static 'imgs/customer-support/phone-line.webp' %}"
                                    class="card-img-top" loading="lazy" alt="Calls Forwarding" title="Calls Forwarding">

                            </div>

                            <div class="col-md-10">

                                <h5 class="card-title">Research Answers</h5>

                                <p class="card-text">LetsGrow.One provide the best solution for the queries which have been
                                    raised by the customer from your business circle. We guide them according to your
                                    business solution.
                                </p>

                            </div>

                        </div>

                    </div>

                </div>



            </div>


</section>

<!-- end features -->



<!--start packages -->

<section class="packages px-3" dir="ltr">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h2 class="h2-title text-center">Packages</h2>

                <h6 class="text-center text-success" dir="ltr">Select your suitable price with LetsGrow.One</h6>

            </div>

            <div class="col-md-12">

                <!-- packages -->

                <ul class="nav nav-pills my-5 p-0" id="pills-tab" role="tablist">

                    <li class="nav-item mx-auto" role="presentation">

                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Startup Business</button>

                    </li>

                    <li class="nav-item mx-auto" role="presentation">

                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Medium Business</button>

                    </li>

                    <li class="nav-item mx-auto" role="presentation">

                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Large Business</button>

                    </li>

                </ul>

                <div class="tab-content" id="pills-tabContent">

                    <!-- Small business-->

                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">

                        <div class="pricing-style-two ">

                            <div>

                                <div class="row" style="justify-content: center">

                                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">

                                        <div class="pricing-block-two wow fadeInUp animated animated"
                                            data-wow-delay="00ms" data-wow-duration="1500ms"
                                            style="visibility: inherit; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                            <div class="pricing-table">

                                                <div class="table-header"> <img alt="Basic Package for startup business"
                                                        title="Basic Package for startup business"
                                                        data-src="{% static 'imgs/small1.png' %}"
                                                        class="package-img lazyloaded" src="{% static 'imgs/small1.png' %}"
                                                        loading="lazy"><noscript><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
                                                            data-src="{% static 'imgs/small1.png' %}" class="package-img lazy"
                                                            alt="Basic Package for startup business"
                                                            title="Basic Package for startup business"></noscript>

                                                    <h3 class="package-title">Basic</h3>

                                                    <hr style="background: lightgray;">

                                                </div>

                                                <div class="table-content">

                                                    <ul class="p-0">

                                                        <li class="fixed-feature"> 3 Extension</li>

                                                        <li class="fixed-feature"> 2 Concurrent call</li>

                                                        <li class="fixed-feature"> Landline number</li>

                                                        <li>

                                                            <hr style="background: lightgray;">

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Dashboard</li>

                                                        <li><i class="fas fa-check"></i> Live Panel</li>

                                                        <li><i class="fas fa-check"></i> Report system</li>

                                                        <li><i class="fas fa-check"></i> Call recording</li>

                                                        <li><i class="fas fa-check"></i> Unlimited internal calls </li>

                                                        <li><i class="fas fa-check"></i> 50 min for free for outbound

                                                            call</li>

                                                    </ul>

                                                </div>

                                                <div class="table-footer"> <a href="contact-us.html">Buy Now</a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">

                                        <div class="pricing-block-two wow fadeInUp animated animated"
                                            data-wow-delay="300ms" data-wow-duration="1500ms"
                                            style="visibility: inherit; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                            <div class="pricing-table">

                                                <!-- <div class="choice-box">RECOMMENDED</div> -->

                                                <div class="table-header"> <img
                                                        alt="Featured Package for startup business"
                                                        title="Featured Package for startup business"
                                                        data-src="{% static 'imgs/small1.png' %}"
                                                        class="package-img lazyloaded" src="{% static 'imgs/small1.png' %}"
                                                        loading="lazy"><noscript><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
                                                            data-src="{% static 'imgs/small1.png' %}" class="package-img lazy"
                                                            alt="Featured Package for startup business"
                                                            title="Featured Package for startup business"></noscript>

                                                    <h3 class="package-title">Featured</h3>

                                                    <hr style="background: lightgray;">

                                                </div>

                                                <div class="table-content">

                                                    <ul class="p-0">

                                                        <li class="fixed-feature"> 6 Extension</li>

                                                        <li class="fixed-feature"> 4 Concurrent call</li>

                                                        <li class="fixed-feature"> Landline number</li>

                                                        <li>

                                                            <hr style="background: lightgray;">

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Dashboard</li>

                                                        <li><i class="fas fa-check"></i> Live Panel</li>

                                                        <li><i class="fas fa-check"></i> Report system</li>

                                                        <li><i class="fas fa-check"></i> Call recording</li>

                                                        <li><i class="fas fa-check"></i> Unlimited internal calls </li>

                                                        <li><i class="fas fa-check"></i> 70 min for free for outbound

                                                            call</li>

                                                    </ul>

                                                </div>

                                                <div class="table-footer"> <a href="contact-us.html">Buy Now</a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- Medium business-->

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <div class="pricing-style-two ">

                            <div>

                                <div class="row" style="justify-content: center">

                                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">

                                        <div class="pricing-block-two wow fadeInUp animated animated"
                                            data-wow-delay="00ms" data-wow-duration="1500ms"
                                            style="visibility: inherit; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                            <div class="pricing-table">

                                                <div class="choice-box"></div>

                                                <div class="table-header"> <img alt="Basic package for medium business"
                                                        title="Basic package for medium business"
                                                        data-src="{% static 'imgs/mid1.png' %}" class="package-img lazyloaded"
                                                        src="{% static '/imgs/mid1.png' %}" loading="lazy"><noscript><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
                                                            data-src="{% static 'imgs/mid1.png' %}" class="package-img lazy"
                                                            alt="Basic package for medium business"
                                                            title="Basic package for medium business"></noscript>

                                                    <h3 class="package-title">Basic</h3>

                                                    <hr style="background: lightgray;">

                                                </div>

                                                <div class="table-content">

                                                    <ul class="p-0">

                                                        <li class="fixed-feature"> 8 Extension</li>

                                                        <li class="fixed-feature"> 6 Concurrent call</li>

                                                        <li class="fixed-feature"> LandLine number</li>

                                                        <li>

                                                            <hr style="background: lightgray;">

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Dashboard</li>

                                                        <li><i class="fas fa-check"></i> Live Panel</li>

                                                        <li><i class="fas fa-check"></i> Report system</li>

                                                        <li><i class="fas fa-check"></i> Call recording</li>

                                                        <li><i class="fas fa-check"></i> Unlimited internal calls </li>

                                                        <li><i class="fas fa-check"></i> 100 min for free for outbound

                                                            call</li>

                                                    </ul>

                                                </div>

                                                <div class="table-footer"> <a href="contact-us.html">Buy Now</a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">

                                        <div class="pricing-block-two wow fadeInUp animated animated"
                                            data-wow-delay="300ms" data-wow-duration="1500ms"
                                            style="visibility: inherit; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                            <div class="pricing-table">

                                                <div class="table-header"> <img
                                                        alt="Featured package for medium business"
                                                        title="Featured package for medium business"
                                                        data-src="{% static 'imgs/mid1.png' %}" class="package-img lazyloaded"
                                                        src="{% static 'imgs/mid1.png' %}" loading="lazy"><noscript><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
                                                            data-src="{% static 'imgs/mid1.png' %}" class="package-img lazy"
                                                            alt="Featured package for medium business"
                                                            title="Featured package for medium business"></noscript>

                                                    <h3 class="package-title">Featured</h3>

                                                    <hr style="background: lightgray;">

                                                </div>

                                                <div class="table-content">

                                                    <ul>

                                                        <li class="fixed-feature"> 10 Extension</li>

                                                        <li class="fixed-feature"> 8 Concurrent call</li>

                                                        <li class="fixed-feature"> Landline number</li>

                                                        <li>

                                                            <hr style="background: lightgray;">

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Dashboard</li>

                                                        <li><i class="fas fa-check"></i> Live Panel</li>

                                                        <li><i class="fas fa-check"></i> Report system</li>

                                                        <li><i class="fas fa-check"></i> Call recording</li>

                                                        <li><i class="fas fa-check"></i> Unlimited internal calls </li>

                                                        <li><i class="fas fa-check"></i> 150 min for free for outbound

                                                            call</li>

                                                    </ul>

                                                </div>

                                                <div class="table-footer"> <a href="contact-us.html">Buy Now</a>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- Large business-->

                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

                        <div class="pricing-style-two ">

                            <div>

                                <div class="row" style="justify-content: center">

                                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">

                                        <div class="pricing-block-two wow fadeInUp animated animated"
                                            data-wow-delay="00ms" data-wow-duration="1500ms"
                                            style="visibility: inherit; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                            <div class="pricing-table">

                                                <div class="table-header"> <img alt="Basic package for large business"
                                                        title="Basic package for large business"
                                                        data-src="{% static 'imgs/large1.png' %}"
                                                        class="package-img lazyloaded"
                                                        src="{% static 'imgs/large1.png' %}"
                                                        loading="lazy"><noscript><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
                                                            data-src="{% static 'imgs/large1.png' %}"
                                                            class="package-img lazy"
                                                            alt="Basic package for large business"
                                                            title="Basic package for large business"></noscript>

                                                    <h3 class="package-title">Basic</h3>

                                                    <hr style="background: lightgray;">

                                                </div>

                                                <div class="table-content">

                                                    <ul class="p-0">

                                                        <li class="fixed-feature"> 15 Extension</li>

                                                        <li class="fixed-feature"> 10 Concurrent call</li>

                                                        <li class="fixed-feature"> LandLine number</li>

                                                        <li>

                                                            <hr style="background: lightgray;">

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Dashboard</li>

                                                        <li><i class="fas fa-check"></i> Live Panel</li>

                                                        <li><i class="fas fa-check"></i> Report system</li>

                                                        <li><i class="fas fa-check"></i> Call recording</li>

                                                        <li><i class="fas fa-check"></i> Unlimited internal calls

                                                        </li>

                                                        <li><i class="fas fa-check"></i> 200 min for free for

                                                            outbound call</li>

                                                    </ul>

                                                </div>

                                                <div class="table-footer"> <a href="contact-us.html">Buy

                                                        Now</a></div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">

                                        <div class="pricing-block-two wow fadeInUp animated animated"
                                            data-wow-delay="300ms" data-wow-duration="1500ms"
                                            style="visibility: inherit; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">

                                            <div class="pricing-table">

                                                <div class="table-header"> <img alt="Custom your package form letsgrow"
                                                        title="Custom your package form letsgrow"
                                                        data-src="{% static 'imgs/custom.png' %}"
                                                        class="package-img lazyloaded"
                                                        src="{% static 'imgs/custom.png' %}"
                                                        loading="lazy"><noscript><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E"
                                                            data-src="{% static 'imgs/custom.png' %}"
                                                            class="package-img lazy"
                                                            alt="Custom your package form letsgrow"
                                                            title="Custom your package form letsgrow"></noscript>

                                                    <h3 class="package-title">Custom</h3>

                                                    <hr style="background: lightgray;">

                                                </div>

                                                <div class="table-content">

                                                    <ul class="p-0">

                                                        <li class="fixed-feature"><input type="number" value="6"
                                                                style="width: 15%;"> Extension</li>

                                                        <li class="fixed-feature"><input type="number" value="4"
                                                                style="width: 15%;"> Concurrent call</li>

                                                        <li class="fixed-feature">Landline number</li>

                                                        <li>

                                                            <hr style="background: lightgray;">

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Dashboard</li>

                                                        <li><i class="fas fa-check"></i> Live Panel</li>

                                                        <li><i class="fas fa-check"></i> Report system</li>

                                                        <li><i class="fas fa-check"></i> Call recording</li>

                                                        <li><i class="fas fa-check"></i> Unlimited internal calls

                                                        </li>

                                                        <li><i class="fas fa-check"></i> Free min for free for

                                                            outbound call</li>

                                                    </ul>

                                                </div>

                                                <div class="table-footer"> <a href="contact-us.html">Buy

                                                        Now</a></div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!--end packages -->

{% endblock %}