
{% extends 'base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/en/graphic.css' %}">

<!-- start header -->
<header dir="rtl">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <img class="w-80"
                    src="{% static 'imgs/discord.png' %}"
                    loading="lazy" alt="Discord Whitelisting" title="Discord Whitelisting">
            </div>
            <div class="col-md-6 text-light">
                <h1 class="h2-title text-light">Discord Server Whitelisting</h1>
                <p dir="ltr">Our moderators will serve as your NFT discord chat managers to whitelist your accounts. We have
                    whitelisted more than 25 accounts for our clients. </p>
                <p class="text-light ">
                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-light mx-2" href="#">Services</a>/
                    <a class="text-success mx-2" href="#">Server Whitelisting</a>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="container" dir="ltr">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <img src="{% static 'imgs/discord.webp' %}"
                width="100%" loading="lazy" alt="Discord Whitelisting Provider" title="Discord Whitelisting Provider">
        </div>
        <div class="col-md-8">
            <p class="card-text">
                Our moderators will serve as your NFT discord chat managers to whitelist your accounts. We have
                whitelisted more than 25 accounts for our clients. We are pretty much more experienced than any other
                outsourcing agencies in discord accounts whitelisting.
                </p>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
    </div>

    <div class="row why-bevatel">
        <div class="col-md-12">
            <h3 class="h2-title text-center" dir="rtl">Why LetsGrow.One Discord Server Whitelisting?</h3>
            <div class="spacer bg-success mb-5"></div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto hvr-underline-from-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'imgs/discord-chat.webp' %}"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="Discord Chat" title="Discord Chat">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Discord Chat/Invites</h5>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto hvr-underline-from-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'imgs/discord-leveling.webp' %}"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="discord-leveling" title="discord-leveling">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Discord Server Leveling</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto hvr-underline-from-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'discord-white.webp' %}"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="discord-white" title="discord-white">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Server Whitelisting</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mx-auto hvr-underline-from-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="{% static 'discord-nft.webp' %}"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="NFT Discord" title="NFT Discord Leveling">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">NFT Discord Leveling</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




{% endblock %}

  