{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/en/dispute.css' %}">



<!-- start header -->

<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <img src="https://www.bevatel.com/assets/site-imgs/en/Call-Center-System/Call-Center-System.webp"

                    loading="lazy" class="mx-auto" width="80%" alt="Call Center System" title="Call Center System">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h2-title text-light">Disputer Resolution (Charge-Back)</h1>

                <p dir="ltr">

                    Our professional background in Claims and Fraud Resolution will help you to avoid any losses.
                      </p>

                <p class="text-light ">

                    <a class="text-light ml-2" href="index.html">Home</a>/

                    <a class="text-light mx-2" href="#">Services</a>/

                    <a class="text-success mx-2" href="#">Dispute Resolution</a>

                </p>

            </div>

        </div>

    </div>

</header>


<div class="container">

    
    <div class="row px-3 py-2 my-2 d-flex align-items-center justify-content-center" dir="ltr">

        <div class="col-md-6 text-right mb-3">

            <h2 class="h2-title">Are you a Merchant with an Online Shopify or E-Commerce? </h2>

            <p class="card-text">Are you struggling with Chargeback disputes by your customers every week?</p>

            <p class="card-text">If you have an online store and you sell either physical/digital products or services and you need :</p>

            <p class="card-text">An Account Manager to support your account when you receive a Dispute/ Chargeback from your customers.
            </p>
            <p class="card-text">An Action Plan to build a strategy to avoid receiving a high number of Chargebacks disputes.</p>
            <p class="card-text">You need a professional document to provide Chargeback Rebuttal Letters with solid proof.</p>

        </div>

        <div class="col-md-6">

            <img class="w-100"
                src="https://www.bevatel.com/assets/site-imgs/en/Call-Center-System/Call-Center-System-Company.webp"
                loading="lazy" alt="Call Center System Company" title="Call Center System Company">
        </div>
    </div>
    <div class="row d-flex px-3 py-2 my-2 align-items-center justify-content-center"  dir="ltr">

        <div class="col-md-12">

            <h2 class="h2-title text-center">What Services LetsGrow.One Provide ?</h2>

            <div class="spacer my-3"></div>

        </div>

        <div class="col-md-6">

            <img class="w-100" src="https://www.bevatel.com/assets/site-imgs/en/Call-Center-System/Control-Panel.webp"

                loading="lazy" alt="Call Center Systems" title="Call Center Systems">

        </div>

        <div class="col-md-6">

            <p class="card-text">Our professional background in Claims and Fraud Resolution will help you to avoid any losses.
                Check the variety of packages to pick the one that suits you better.</p>

            <p class="card-text">Chargeback and early detection techniques. Mitigating fraud is the goal.</p>

            <p class="card-text">Payment Gateways:
                <ul>
                    <li>Klarna </li><li>Stripe </li><li>2Checkout </li><li>Shopify </li><li>WooCommerce </li>
                </ul>
            </p>

        </div>

        

    </div>
</div>

{% endblock content %}


