{% extends 'base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/en/dispute.css' %}">
 

<!-- start header -->

<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <img src="{% static 'imgs/deliverydispatch.webp' %}"

                    loading="lazy" class="mx-auto" width="80%" alt="Food Delivery Dispatching" title="Food Delivery Dispatching"">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h2-title text-light">Food Delivery Dispatching</h1>

                <p dir="ltr">

                    Food delivery dispatching service by LetsGrow.One relieves your workforce of all extra challenges and
                    ensures that your delivery orders are filled accurately and on schedule. </p>

                <p class="text-light ">

                    <a class="text-light ml-2" href="https://letsgrow.one/">Home</a>/

                    <a class="text-light mx-2" href="#">Services</a>/

                    <a class="text-success mx-2" href="#">Food Delivery Dispatching</a>

                </p>

            </div>

        </div>

    </div>

</header>


<div class="container" >

    <div class="row px-3 py-2 my-2 d-flex align-items-center justify-content-center" dir="ltr">

        


        <div class="col-md-6 text-right mb-3 disable">

            <img src="{% static 'imgs/food1.webp' %}"

                alt="Food Delivery Dispatching""  title="Food Delivery Dispatching"" loading="lazy" width="80%">

        </div>

        <div class="col-md-6 text-right mb-3">

            <h3 class="h2-title">LetsGrow.One Food Delivery Dispatching Solutions</h3>

            <hr>

            <p class="card-text">Food delivery dispatching service by LetsGrow.One relieves your workforce of all extra challenges and
                ensures that your delivery orders are filled accurately and on schedule. We provide a reliable dispatch
                center for food ordering in the United States of America, Canada, England and Australia ..</p>

            <p class="card-text">We serve as a
                bridge for all your food business communication needs. With us you can boost your order taking and
                delivery options with the help of our virtual customer support assistants and call representatives.</p>

            <p class="card-text">We
                are ooperational24/7 and 365 days an year. At Let’sGrow.one we provide you the experienced team for
                the customer service who are fluent in English and are having experience of above 7 years. We can also
                provide you with an online customer support service for all your client care requirements and queries.</p>

            <p class="card-text">. It
                simply works as a virtual online help center for your clients. Our services are offered at the lowest price
                out there.</p>

        </div>

    </div>

</div>





<div class="container">

    <div class="row d-flex justify-content-center align-items-center why-bevatel">


        <div class="col-md-4">

            <div class="card mx-auto hvr-float mb-3">

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 text-center disable">

                            <h5 class="card-title">Regular Technical Support</h5>

                            <p class="card-text">Provide the customers with regular technical support and customer service 24h/day.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4 text-center">

            <img src="{% static 'imgs/food2.webp' %}" alt="Food Delivery" title="Food deliverydispatch" loading="lazy"

                width="80%" class="mx-auto">

        </div>

        <div class="col-md-4">

            <div class="card mx-auto hvr-float mb-3">

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h5 class="card-title">Wide Audience Outreach</h5>

                            <p class="card-text">It becomes easy to target a large audience base with the LetsGrow.One support.
                                 Therefore, LetsGrow.One ensures that the business can expand its operations among millions of users quickly.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card mx-auto hvr-float mb-3">

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h5 class="card-title">Streamline Customer Support</h5>

                            <p class="card-text">LetsGrow.One resolve any queries and 
                                provide meaningful solutions instantly.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card mx-auto hvr-float mb-3">

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 text-center">

                            <h5 class="card-title">Scaling Food Delivery Operations During Peak Hours</h5>

                            <p class="card-text">High order volume situations during peak hours are crucial for
                                 restaurants. Maximizing the efficiency of your deliveries is critical during these 
                                 times and LetsGrow.One can help with that.</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>




    {% endblock%}