{% extends 'base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/en/graphic.css' %}">

 
<header dir="rtl">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <img class="w-80"
                    src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/SMS-Service.webp"
                    loading="lazy" alt="SMS Service" title="SMS Service">
            </div>
            <div class="col-md-6 text-light">
                <h1 class="h2-title text-light">Graphic Designing</h1>
                <p dir="ltr">Our team has an analytical approach to sketch client’s perceptions using advanced tools for logo design,
                    branding or advertising your brand.</p>
                <p class="text-light ">
                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-light mx-2" href="#">Services</a>/
                    <a class="text-success mx-2" href="#">Graphic Designing</a>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="container" dir="ltr">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/SMS-Service-Provider.webp"
                width="100%" loading="lazy" alt="SMS Service Provider" title="SMS Service Provider">
        </div>
        <div class="col-md-8">
            <p class="card-text">
            LetsGrow.One Graphic Designers are the most profeesional designers who have done many critical jobs
             at the lowest costs in the current graphic designing industory.</p>
            <p class="card-text">LetsGrow.One craets visual concepts, using computer softwares and latest tools
                technologies, to communicate ideas that inspire, infor, and captivate the customers for
                the best of your organization's interest.
            </p>
            <p class="card-text">We develop the overall layout and production design for applications such
                as advertisements, brochures, magazines, and reports.
            </p>
        </div>
    </div>

    </br>
    </br>
    </br>


    <div class="row">
        <div class="col-md-12">
            <h3 class="h2-title text-center">Graphic Designing Service Advantages from LetsGrow?</h3>
            <div class="spacer bg-success my-3"></div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/Bulk-SMS.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="Bulk SMS or one to one" title="Bulk SMS or one to one">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Logo Design</h5>
                            <p class="card-text"><ul><li>Iconic Logo</li><li>Mascot Logo</li><li>Wordmark Logo</li></ul></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/Periodically-Numbers-Updating.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="Periodically Numbers Updating" title="Periodically Numbers Updating">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Infographics</h5>
                            <p class="card-text"><ul><li>Informational Design</li><li>Timeline Design</li><li>Process Design</li></ul></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/User-Friendly-cPanel.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="User-Friendly C. Panel" title="User-Friendly C. Panel">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Web Banners</h5>
                            <p class="card-text"><ul>
                                <li>Gif Animation Banners</li><li>Website Slider Banners</li><li>Google Ads Banners</li>
                            </ul></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/SMS-Scheduling.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="SMS Scheduling" title="SMS Scheduling">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Business Cards</h5>
                            <p class="card-text">
                                <ul>
                                 <li>Matte Business Card</li><li>Gloss Business Card</li><li>Embossed Business Card</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/API-Integration.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="API Integration" title="API Integration">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Menus Design</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Restaurants</li><li>Bars & Cafes</li><li>Table Menu</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/SMS-Marketing-Campaigns.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="SMS Marketing Campaigns" title="SMS Marketing Campaigns">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Brochures</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Half Brochures</li><li>Bifold Brochures</li><li>Trifold Brochures</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card mx-auto hvr-float-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <img src="https://www.bevatel.com/assets/site-imgs/en/SMS-Services/Smart-SMS.webp"
                                class="card-img-top align-center mx-auto" loading="lazy" alt="Smart SMS" title="Smart SMS">
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="card-title">Newsletter</h5>
                            <p class="card-text">
                                <ul>
                                    <li>Increase your Authority</li><li>Connect with your Customers</li><li>Improve Your Sales</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

   {% endblock %}