{% extends 'base.html'%}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/en/photo-manipulation.css' %}">




<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <img class="mx-auto" src="{% static 'imgs/photo-manipulation.png' %}"

                    loading="lazy" alt="Photo Manipulation" title="Photo Manipulation" style="width: 80%">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h2-title text-light">Photo Manipulation</h1>

                <p dir="left">

                  Our trained workers will do any kind of photo manipulation, editing or retouching to make the photo
                  look professional.</p>

                <p class="text-light ">

                    <a class="text-light ml-2" href="https://letsgrow.one/">Home</a> /

                    <a class="text-light mx-2" href="#">Service</a> /

                    <a class="text-success mx-2" href="#">Photo Manipulation</a>

                </p>

            </div>

        </div>

    </div>

</header>



<div class="container p-3">

    <div class="row">

        <div class="col-md-12 mb-3">

            <h2 class="h2-title text-center">Why should you choose LetsGrow.One Photo Manipulation?</h2>

            <div class="spacer my-3"></div>

        </div>

        <div class="col-md-6 text-center">

            <img src="{% static 'imgs/photo2.webp' %}" loading="lazy"

                width="70%" alt="Photo Manipulation" title="Photo Manipulation">

        </div>

        <div class="col-md-6">

            <p class="card-text">

              No matter what photo manipulation you need whether it is head replacement or
              creative digital drawing or surreal photo manipulation services, our professionals will help you within
              several working days. We will never delay your work and deliver it before the deadline.

            </p>

            <p class="card-text">

              Our trained workers will do any kind of photo manipulation, editing or retouching to make the photo
              look professional. We will provide realistic image manipulation services for amateur photographers at
              the best price.

            </p>

            <p class="card-text">. LetsGrow.one
              offer portrait photo manipulation services, namely, converting photos into a sketch, vector illustration,
              watercolor painting or cartoon-like drawing. If your photo lacks someone who is important, we can
              easily add this person from another picture and adjust colors, lighting and shadows, so that the result
              looks absolutely realistic. Alternatively, we can remove people from photos, if a stranger accidentally got
              in the frame.We specialize in product photography with white background or any background you prefer
              for your website, online store, Amazon or any other marketplace.</p>

        </div>

    </div>

</div>







<div class="container">

    <div class="row">

        <div class="col-md-12 p-3 pt-md-5">

            <h5 class="h2-title text-success text-center">Services</h5>

            <h2 class="h2-title text-center">LetsGrow.One offer in Photo Manipulation?</h2>

            <div class="spacer my-3"></div>

            <p class="text-center">LetsGrow.One is the first company to provide modern Photo Manipulation solutions, professional 
                Photo Editting services, and systems with the highest efficiency and the lowest costs..</p>

        </div>

        <div class="col-md-4 text-center">

            <div class="card p-2 hvr-wobble-horizontal small-shadow my-3 mx-auto">

                <p class="card-text">Converting Photos into Sketch</p>

            </div>

            <div class="card p-2 hvr-wobble-horizontal small-shadow my-3 mx-auto">

                <p class="card-text">Vector Illustration / Vector Graphics</p>

            </div>

            <div class="card p-2 hvr-wobble-horizontal small-shadow my-3 mx-auto">

                <p class="card-text">Water-Color Painting (Cartoon Drawing)</p>

            </div>

        </div>

        <div class="col-md-4 text-center">

            <img src="{% static 'imgs/manip.webp' %}" loading="lazy"

                width="70%" alt="Photo Manipulation" title="Photo Manipulation">

        </div>

        <div class="col-md-4 text-center">

            <div class="card p-2 hvr-wobble-horizontal small-shadow my-3 mx-auto">

                <p class="card-text">Removing Objects/Persons from Photo</p>

            </div>

            <div class="card p-2 hvr-wobble-horizontal small-shadow my-3 mx-auto">

                <p class="card-text">Product Photography for Online Stores</p>

            </div>

            <div class="card p-2 hvr-wobble-horizontal small-shadow my-3 mx-auto">

                <p class="card-text">Creative Digital Drawing (Multimedia Art)</p>

            </div>

        </div>

    </div>

</div>



<div class="container">

    
</div>




{% endblock %}