{% extends 'base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/en/social.css' %}">
<link rel="stylesheet" href="{% static 'css/en/store-management.css' %}">
<header dir="rtl">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 text-center">
                <img class="mx-auto" src="{% static 'imgs/sliders/social.webp' %}" loading="lazy"
                    alt="LetsGrow.One social service" title="LetsGrow.One social service" style="width: 100%">
            </div>
            <div class="col-md-6 text-light">
                <h1 class="h2-title text-light">Social Media Management</h1>
                <p dir="ltr">LetsGrow.One Social is the finest solution for your business to make markeing stratigies
                    and make content for its growth. We help with for all your business communication channels
                    (WhatsApp, Messenger,
                    Twitter, Telegram ... etc).</p>
                <p class="text-light ">
                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-success mx-2" href="#">LetsGrow.One Social Business </a>
                </p>
            </div>
        </div>
    </div>
</header>


<div class="container mb-5" dir="ltr">
    <div class="row d-flex p-3 py-md-5 justify-content-center align-items-center">
        <div class="col-md-6 my-3">
            <h2 class="h2-title">LetsGrow.One Social Soultion</h2>
            <div class="spacer left my-3"></div>
            <p class="card-text">We offer a wide range of creative services, including social media management for
                various platforms
                such as Facebook, Instagram, YouTube, Tiktok and Twitter etc. The smart and cost effective choice is to
                invest in a skilled outsourced team and we can fulfill that space.</p>
        </div>
        <div class="col-md-6 text-center my-3 disable">
            <img loading="lazy" src="{% static 'site-imgs/en/social/letsgrow-social-platform.gif' %}"
                class="border-bottom image-outline" alt="LetsGrow.One social plateform" title="LetsGrow.One social plateform">
        </div>
        <div class="col-md-6 text-center my-3">
            <img loading="lazy" src="{% static 'site-imgs/en/social/contact-faster-via-whatsapp-social.gif' %}"
                class="w-75 image-outline" alt="connect faster with clients" title="connect faster with clients">
        </div>
        <div class="col-md-6 my-3">
            <h2 class="h2-title">Communicate with your customers faster and easier!</h2>
            <div class="spacer left my-3"></div>
            <p class="card-text">You will have more chances to profit
                from employing an expert social team with experience and success in deploying the social campaigns
                and strategies your business needs. As an experts among social media management companies, we exist
                to deliver broad social marketing service to all types of businesses out there. </p>
            <p class="card-text">LetsGrow.One Social is the finest solution for your business to make markeing stratigies
                and make content for its growth. We help with for all your business communication channels (WhatsApp,
                Messenger,
                Twitter, Telegram ... etc).</p>
            <p class="card-text">We will help your business with analysing usage data and help customer services.
            </p>
        </div>

        <div class="container">


            <div class="row my-md-5 my-3 p-3" style="background-color: #3640af">
        
                <div class="col-md-12 text-center">
        
                    <h6 class="h2-title text-light">
                        LetsGrow.One provide natural and Organic Marketing Management for your Social Media Accounts
                        by keeping them Active, Attractive, and Engaging.
                    </h6>
        
                </div>
        
            </div>
        
        </div>
        
        <div class="container">
        
            <div class="row info">
        
                <div class="col-md-4">
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Social Media strategies & </p>
        
                    </div>
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Page Setup and Optimization</p>
        
                    </div>
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text"> Account Maintenance and Optimization</p>
        
                    </div>

                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Graphic Designing and Content Creation</p>
        
                    </div>
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Regular Posting and Post Scheduling</p>
        
                    </div>
        
                </div>

                <div class="col-md-4">
        
                    <img src="{% static 'imgs/sliders/social.webp' %}" alt="Auto Dialer Software" 
                    title="Auto Dialer Software" loading="lazy" class="w-100" style="position: relative;
                    top: 50%;
                    transform: translateY(-50%); ;">
        
                </div>
        
                <div class="col-md-4">
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Developed Brand Awareness</p>
        
                    </div>
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Product and Services Promotion</p>
        
                    </div>
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Tranding Hashtags Research</p>
        
                    </div>
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Competitive Analysis and Research</p>
        
                    </div>
        
                    <div class="card hvr-float small-shadow my-3">
        
                        <p class="card-text">Communication with your Clients</p>
        
                    </div>
        
                </div> 
        
            </div>
        
        </div>
    </div>
    <div class="row p-3 py-md-5">
        <div class="col-md-3 p-3">
            <div class="package hvr-grow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="w-100 package-name">
                            <h6 class="h2-title text-center">Basic Package</h6>
                            <h4 class="h2-title text-center">(Bronze)</h4>
                        </div>
                        <p class="card-text">Chat with 3000 customers</p>
                        <p class="card-text">Unlimited free chats.</p>
                        <p class="card-text">WhatsApp Business API Activation (Additional Fees).</p>
                        <p class="card-text">Integration for all channels</p>
                        <p class="card-text">Unified replay for messengers</p>
                        <p class="card-text">Unlimited users</p>
                        <p class="card-text">Chat with us Button</p>
                        <p class="card-text">Chats Reports</p>
                        <p class="card-text">Integration Apps & Websites</p>
                        <p class="card-text">E-mails Integration (Gmail)</p>
                        <br>
                        <button class="btn btn-custom w-75 mx-auto" onclick="location.href='contact-us.html'">Buy
                            Now</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="package hvr-grow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="w-100 package-name">
                            <h6 class="h2-title text-center">Medium Package</h6>
                            <h4 class="h2-title text-center">(Silver)</h4>
                        </div>
                        <p class="card-text">Chat with 6000 customers</p>
                        <p class="card-text">Unlimited free chats.</p>
                        <p class="card-text">WhatsApp Business API Activation (Additional Fees).</p>
                        <p class="card-text">Integration for all channels</p>
                        <p class="card-text">Unified replay for messengers</p>
                        <p class="card-text">Unlimited users</p>
                        <p class="card-text">Chat with us Button</p>
                        <p class="card-text">Chats Reports</p>
                        <p class="card-text">Integration Apps & Websites</p>
                        <p class="card-text">E-mails Integration (Gmail)</p>
                        <br>
                        <button class="btn btn-custom w-75" onclick="location.href='contact-us.html'">Buy Now</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="package hvr-grow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="w-100 package-name">
                            <h6 class="h2-title text-center">Premium Package</h6>
                            <h4 class="h2-title text-center">(Gold)</h4>
                        </div>
                        <p class="card-text">Chat with 10000 customers</p>
                        <p class="card-text">Unlimited free chats.</p>
                        <p class="card-text">WhatsApp Business API Activation (Additional Fees).</p>
                        <p class="card-text">Integration for all channels</p>
                        <p class="card-text">Unified replay for messengers</p>
                        <p class="card-text">Unlimited users</p>
                        <p class="card-text">Chat with us Button</p>
                        <p class="card-text">Chats Reports</p>
                        <p class="card-text">Integration Apps & Websites</p>
                        <p class="card-text">E-mails Integration (Gmail)</p>
                        <br>
                        <button class="btn btn-custom w-75" onclick="location.href='contact-us.html'">Buy Now</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="package hvr-grow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="w-100 package-name">
                            <h6 class="h2-title text-center">Star Package</h6>
                            <h4 class="h2-title text-center">(Platinum)</h4>
                        </div>
                        <p class="card-text">Chat with 15000 customers</p>
                        <p class="card-text">Unlimited free chats.</p>
                        <p class="card-text">WhatsApp Business API Activation (Additional Fees).</p>
                        <p class="card-text">Integration for all channels</p>
                        <p class="card-text">Unified replay for messengers</p>
                        <p class="card-text">Unlimited users</p>
                        <p class="card-text">Chat with us Button</p>
                        <p class="card-text">Chats Reports</p>
                        <p class="card-text">Integration Apps & Websites</p>
                        <p class="card-text">E-mails Integration (Gmail)</p>
                        <br>
                        <button class="btn btn-custom w-75" onclick="location.href='contact-us.html'">Buy Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}