{% extends 'base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/en/hidden.css' %}">
<header dir="rtl">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <img class="mx-auto" src="{% static 'imgs/va3.webp' %}" loading="lazy" alt="Live chat"
                    title="Live chat" style="width: 100%">

            </div>

            <div class="col-md-6 text-light">

                <h1 class="h2-title my-3 text-light">Virtual Assistance</h1>

                <p dir="ltr">From now, Highly trained professionals will provide virtual assistance for your stores on Amazon, eBay, Shopify,
                    WooCommerce, etc. And you will never miss any of your webiste activity performed by web visitors. </p>

                <p class="text-light ">

                    <a class="text-light ml-2" href="index.html">Home</a> /
                    <a class="text-success mx-2" href="#"> Virtual Assistance</a>

                </p>

            </div>

        </div>

    </div>

</header>

<div class="container">
    <div class="row">
        <div class="col-md-12 my-3 my-md-5">
            <h2 class="h2-title text-center my-3" dir="ltr">
            What is a Virtual Assistance?
            </h2>
            <div class="spacer my-3"></div>
            <p class="card-text my-3 text-center">
                A virtual assistant is a remote setup that typically provides part-time/full-time administrative support to 
                you and your business. They can do the things an executive assistant would normally handle, such as 
                scheduling appointments, making phone calls, arranging trips, or arranging emails.
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <img class="mx-auto" src="{% static 'imgs/va2.webp' %}" loading="lazy" alt="Virtual Assistance"
                title="Virtual Assistance" style="width: 90%">
        </div>
        <div class="col-md-6 my-3 my-md-5">
            <h2 class="h2-title my-3" dir="ltr">
            Virtual Assitance with LetsGrow.One
            </h2>
            <div class="spacer right my-3"></div>
            <p class="card-text my-3">
                Highly trained professionals will provide virtual assistance for your stores on Amazon, eBay, Shopify,
                WooCommerce, etc. We will provide you marketing assistance to boost your efforts including
                WordPress administration, email marketing, blog management, research, graphic design, and report
                generation.
            </p>
            <p class="card-text my-3">
                Moreover ecellent customer service to increase customer loyalty including account
                management, chat support, data entry, order processing, email follow-up, and inventory management.
                We will also provide you social media services including content creation and scheduling, engaging with
                influencers, image creation, research, and ad campaigns.
            </p>
        </div>
    </div>

</div>

{% endblock %}